/*menuBG***/
.bluetabs-bg {
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

.bluetabs {
	background: url(../images/menu-bar-glass.png) repeat-x scroll left top
		#0075c4 ;
	height: 32px;
	margin: 0 auto;
	padding-top: 0;
	width: 100%;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}
/******************************************************************************/

/*Menu Tabs (Menu Buttons)***/
.bluetabs ul {
	font-size: 10px;
	font-weight: bold;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	padding: 11px 0 0 8px;
	text-align: left;
}

.bluetabs li {
	display: inline;
	margin: 0;
	z-index: 0;
}

.bluetabs li a {
	background: url("../images/menu-bar-glass.png") repeat-x scroll left top
		#0090F5 ;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	color: #FFFFFF;
	font-size: 8pt;
	font-weight: normal;
	padding: 6px 10px;
	text-decoration: none;
}

.bluetabs li a:visited {
	color: #ffffff;
}

.bluetabs li a:hover {
	background: url(../images/menu-bar-glass.png) repeat-x scroll left top
		#ceebff ; /**Menu roll over tab color change**/
	text-decoration: none;
	color: #000000;
}

.bluetabs li.selected a { /*selected main tab style */
	background: url(../images/menu-bar-glass.png) repeat-x scroll left top
		#ceebff ; /**Menu roll over tab color change**/
	border-bottom-color: white;
	color: #000000;
}

.bluetabs li.selected {
	color: #000000;
}

.bluetabs li.selected a:hover { /**Menu roll over font color change**/
	text-decoration: none;
	color: #000000;
}

/******************************************************************************/

/*Style for Drop Down Menu*/
.dropmenudiv_b {
	position: absolute;
	top: 0;
	border: 1px solid #a3d5ff; /**Menu drop down border color change**/
	border-width: 0 1px;
	font: normal 11px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: #ffffff; /**Menu drop down BG color change**/
	width: 200px;
	visibility: hidden;
}

.dropmenudiv_b a {
	width: auto;
	display: block;
	text-indent: 5px;
	border-bottom: 1px solid #a3d5ff;
	/**Menu drop down border color change**/
	padding: 5px 5px;
	text-decoration: none;
	color: black;
}

* html .dropmenudiv_b a { /*IE only hack*/
	width: 100%;
}

.dropmenudiv_b a:hover { /*THEME CHANGE HERE*/
	background-color: #e1f3ff;
	/**Menu drop down roll over BG color change**/
}