/***************************
LAYOUT DEFAULT STYLES
***************************/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #fff;
}
/***************************
LAYOUT POSITIONING
****************************/
.page-margin-wrapper {
	float: left;
	width: 100%;
}

.page-wrapper {
	margin: 0 auto;
	width: 90%;
	padding: 0 5%;
}
/***************************
TYPOGRAPHY - GLOBAL
****************************/
p {
	margin: 0 0 10px 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 13px;
	color: #333;
	text-align: justify;
}
/****************************LAYOUT STYLES****************************/

/***************************
HEADER SECTION
****************************/
header {
	float: left;
	width: 100%;
	height: 109px;
	padding: 10px 0 0 0;
	background: url(../bpimages/header-bg.png) left top repeat-x;
}

header .top-links {
	float: right;
	margin: 10px 0 0 0;
	clear: both;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	color: #009900;
}

header .top-links a {
	color: #009900;
	padding: 0 0px;
	font-size: 12px;
}

header .top-links a:hover {
	color: #fbd536;
}

header .welcome_bg {
	float: right;
	margin: 20px 0 0 0;
}

header .welcome-text {
	float: right;
	clear: both;
	font-size: 12px;
	color: #333;
}

header .welcome-text span a {
	color: #009900;
	font-size: 14px;
	font-weight: bold;
}

.toggletrigger img {
	max-width: none;
}

header .logo {
	float: left;
	margin: 10px 0 10px 0;
}

header .logo img {
	height: 80px;
}

.togglecontainer {
	display: none;
	position: relative;
	background: #ccc;
	padding: 10px;
	z-index: 1000;
}

.togglecontainer ul {
	margin: 0;
	padding: 0;
}

.togglecontainer ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: list-item;
	line-height: 24px;
}

.togglecontainer1 {
	display: none;
	position: relative;
	background: #f5f5f5;
	padding: 10px;
	z-index: 1000;
}

.togglecontainer1 ul {
	margin: 0;
	padding: 0;
}

.togglecontainer1 ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: list-item;
	line-height: 24px;
}

.togglecontainer3 {
	display: none;
	position: relative;
	/* background: #f5f5f5; 
	padding: 10px;*/
	z-index: 1000;
}

.togglecontainer3 ul {
	margin: 0;
	padding: 0;
}

.togglecontainer3 ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: list-item;
	line-height: 24px;
}

.togglecontainer4 {
	display: none;
	position: relative;
	/* background: #f5f5f5;
	padding: 10px; */
	z-index: 1000;
}

.togglecontainer4 ul {
	margin: 0;
	padding: 0;
}

.togglecontainer4 ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: list-item;
	line-height: 24px;
}

.inner-menu {
	float: left;
	width: 217px;
	display: block;
}

.inner-menu-list-yellow {
	float: left;
	width: 96%;
	display: none;
	margin: 0 0 20px 0;
	background: #FFE600;
	padding: 0 2%;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: none;
	text-align: center;
}

.inner-menu-list-yellow a {
	padding: 5px 5px;
	float: left;
	height: 40px;
	line-height: 40px;
}

.inner-menu-list-yellow a img {
	margin: 0;
	vertical-align: middle;
}

.inner-menu-list-green {
	float: left;
	width: 96%;
	display: none;
	margin: 0 0 20px 0;
	background: #009900;
	padding: 0 2%;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: none;
	text-align: center;
}

.inner-menu-list-green a {
	padding: 5px 5px;
	float: left;
	height: 40px;
	line-height: 40px;
}

.inner-menu-list-green a img {
	margin: 0;
	vertical-align: middle;
}

.inner-menu-list-orange {
	float: left;
	width: 96%;
	display: none;
	margin: 0 0 20px 0;
	background: #FF6600;
	padding: 0 2%;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: none;
	text-align: center;
}

.inner-menu-list-orange a {
	padding: 5px 5px;
	float: left;
	height: 40px;
	line-height: 40px;
}

.inner-menu-list-orange a img {
	margin: 0;
	vertical-align: middle;
}

/***************************
SlIDER SECTION
****************************/

/***************************
CONTENT SECTION
****************************/
article {
	float: left;
	width: 100%;
}

#content-area {
	float: left;
	width: 100%;
	padding: 5px 0;
	background-color: #fff;
	margin: 0px auto;
	min-height: 440px;
}

.page-title {
	float: left;
	width: 100%;
	line-height: 32px;
	margin: 0 0 20px 0;
	text-transform: none;
	font-size: 14px;
}

.page-title img {
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.btn {
	float: left;
	background: #009900;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #fff;
	border: 0 none;
	cursor: pointer;
	position: relative;
	/*behavior: url(PIE.htc);*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 5px 5px 0;
	text-transform: none;
}

.innepage-content {
	float: right;
	width: 80%;
}
/***************************
CONTENT SECTION - index Page
****************************/
.more-btn {
	margin: 20px auto !important;
	background: #fff;
	border: 2px solid #009900;
	font-weight: bold;
	width: 75px;
	height: 30px;
	color: #009900;
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 30px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

.box-width {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
}

.item-box-one {
	float: left;
	width: 213px;
	margin: 0 117px 0 0;
}

.item-box-two {
	float: left;
	width: 213px;
	margin: 0 118px 0 0;
}

.item-box-three {
	float: left;
	width: 213px;
	margin: 0 60px 0 0;
}

.item-box-four {
	float: right;
	width: 213px;
	margin: 0 0 0 0;
}

.box-title-green {
	width: 98%;
	background: #fff;
	margin: 0 0 2px 0;
	font-weight: bold;
	border: 2px solid #009900;
	height: 35px;
	text-align: center;
	line-height: 35px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px;
	border-radius: 5px 5px;
	position: relative;
	display: block;
	font-size: 14px;
	color: #009900;
}

.item-box-border {
	float: left;
	width: 2px;
	background: #009900;
	min-height: 500px;
	display: block;
	margin: 0 54px 0 0;
}
/***************************
LAYOUT REGULAR SECTION
****************************/
.clear {
	clear: both;
}

a img {
	border: 0 none;
}

.left {
	float: left;
}

.right {
	float: right;
}
/***************************
FOOTER
****************************/
footer {
	float: left;
	width: 100%;
	height: 40px;
}

footer .copy {
	float: left;
	color: #009900;
	line-height: 40px;
	width: 100%;
	text-align: right;
}

footer .copy img {
	margin: 0;
	vertical-align: middle;
}
/***************************
Menu and Icon Set
****************************/
.icon-text {
	float: left;
	width: 96%;
	height: 58px;
	padding: 2%;
	overflow: hidden;
}

.icon-img {
	float: left;
	width: 96%;
	padding: 2%;
	text-align: right;
}

.btn-yellow {
	float: left;
	width: 100%;
}

.btn-yellow a {
	float: left;
	width: 48%;
	height: 107px;
	background: #FFE600;
	margin: 1%;
	color: #009900;
}

.btn-gray {
	background: #fff !important;
	color: #009900 !important;
	height: 90px !important;
	width: 43% !important;
	border: 2px solid #009900;
}

.active {
	text-decoration: underline;
}

.btn-gray .icon-text {
	height: 45px !important;
}

.submenu {
	margin-left: 3%;
}

.btn-green {
	float: left;
	width: 100%;
}

.btn-green a {
	float: left;
	width: 48%;
	height: 107px;
	background: #009900;
	margin: 1%;
	color: #fff;
}

.btn-orange {
	float: left;
	width: 100%;
}

.btn-orange a {
	float: left;
	width: 48%;
	height: 107px;
	background: #FF6600;
	margin: 1%;
	color: #fff;
}

.togglecontainer2 {
	float: left;
	width: 100%;
	display: none;
}

.togglecontainer2 a { /* opacity: 0.6; */
	
}

.togglecontainer3 {
	float: left;
	width: 100%;
	display: none;
}

.togglecontainer3 a { /* opacity: 0.6; */
	
}

.togglecontainer4 {
	float: left;
	width: 100%;
	display: none;
}

.togglecontainer4 a { /* opacity: 0.6; */
	
}

/***************************
CONTENT SECTION - Manage User Page
****************************/
.form-box {
	float: left;
	width: 98%;
	padding: 1% 1%;
	border: 1px solid #009900;
	font-size: 12px;
	/* behavior: url(PIE.htc); */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	position: relative;
	display: block;
	margin: 0 0 20px 0;
}

.wrapper-half {
	float: left;
	width: 100%;
}

.row-wrapper {
	float: left;
	margin: 1% 0;
	width: 50%;
}

.row-wrapper .label-col-wrapper {
	float: left;
	width: 38%;
	padding: 0 0 0 2%;
}

.row-wrapper .ctrl-col-wrapper {
	float: left;
	width: 58%;
	padding: 0 2% 0 0;
}

.row-wrapper .ctrl-col-wrapper .text-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc; /* color: #000000 !important; */
	height: 25px;
	padding: 0 2%;
	width: 85%;
	float: left;
	line-height: 25px;
}

.row-wrapper .ctrl-col-wrapper .list-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 25px;
	padding: 1% 2%;
	width: 93%;
	float: left;
	line-height: 25px;
}

.wrapper-btn {
	float: left;
	margin: 10px 0 0 40%;
	width: 60%;
}

.btn-wrapper {
	float: left;
	margin: 10px 0 0 40%;
	width: 60%;
}

.form-box table {
	border-collapse: collapse;
}

.main-table {
	float: left;
	width: 100%;
}

.main-table th.headerRole {
	background: #009900;
	color: #fff;
	padding: 8px;
}

.main-table td {
	border: 1px solid #e9eaea;
	padding: 5px;
}

.main-table td.header {
	background: #009900;
	color: #fff;
}

.main-table .even {
	background: #fff;
}

.main-table .odd {
	background: #f6f6f6;
}

.main-table td a {
	color: #009900;
	text-decoration: underline;
}

/***************************
CONTENT SECTION - Create Vendor Page
****************************/
.tab-content {
	width: 98%;
	padding: 1%; /* border:1px solid #ccc; border-top:0 none; */
}

.sub-title {
	float: left;
	width: 98%;
	line-height: 30px;
	color: #fff;
	background: #009900;
	padding: 0 1%;
	margin: 0 0 10px 0;
}

.main-text-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc; /* color: #000000 !important; */
	height: 25px;
	padding: 0 2%;
	width: 92%;
	float: left;
	line-height: 25px;
}

.main-text-area {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 50px;
	padding: 0 2%;
	width: 86%;
	float: left;
	line-height: 25px;
	resize: none;
}

.main-list-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 25px;
	padding: 1% 2%;
	width: 93%;
	float: left;
	line-height: 25px;
}

/* 
Email send
*/
.wrapper-full {
	float: left;
	width: 90%;
}

.wrapper-full .row-wrapper {
	float: left;
	margin: 1% 0;
	width: 100%;
}

.row-wrapper .label-col-full-wrapper {
	float: left;
	width: 30%;
	padding: 0 0 0 2%;
	line-height: 25px;
}

.row-wrapper .ctrl-col-full-wrapper {
	float: left;
	width: 60%;
	padding: 0 2% 0 0;
}

.row-wrapper .ctrl-col-full-wrapper .text-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc; /*color: #000000  !important ;*/
	height: 25px;
	padding: 0 2%;
	width: 85%;
	float: left; /* line-height:25px; */
}

.row-wrapper .ctrl-col-full-wrapper password {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc; /*color: #000000  !important ;*/
	height: 25px;
	padding: 0 2%;
	width: 85%;
	float: left; /* line-height:25px; */
}

.row-wrapper .ctrl-col-full-wrapper .main-list-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 28px;
	padding: 1% 2%;
	width: 93%;
	float: left; /* line-height:25px; */
}

.focus {
	border: 2px solid #009900;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 7px #009900;
	border-color: #009900;
}

label.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}

span.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}

.text-label {
	color: #cdcdcd;
	font-size: 11px;
}

.rt {
	width: 100%;
	font-size: 12px; /*12*/
	line-height: 20px; /*15*/
	border-collapse: collapse;
	border-spacing: 0;
}

.rt th,.rt td {
	margin: 0;
	padding: 0.4166em; /*10*/
	vertical-align: top;
	border: 1px solid #babcbf;
	background: #fff;
}

.rt th {
	text-align: left;
	background: #009900;
	color: #fff;
}

@media only screen and (max-width: 40em) { /*640*/
	#rt1 {
		display: block;
		position: relative;
		width: 100%;
	}
	#rt1 thead {
		display: block;
		float: left;
	}
	#rt1 tbody {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}
	#rt1 thead tr {
		display: block;
	}
	#rt1 th {
		display: block;
	}
	#rt1 tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	#rt1 td {
		display: block;
		min-height: 1.25em;
	}
	#rt2 {
		display: block;
		position: relative;
		width: 100%;
	}
	#rt2 thead {
		display: block;
		float: left;
	}
	#rt2 tbody {
		display: -webkit-box;
		overflow-x: auto;
	}
	#rt2 th,#rt2 tr,#rt2 td {
		display: block;
	}

	/* sort out borders */
	.rt th {
		border-bottom: 0;
	}
	.rt td {
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.rt tbody tr {
		border-right: 1px solid #babcbf;
	}
	.rt th:last-child,.rt td:last-child {
		border-bottom: 1px solid #babcbf;
	}
}

#successMsg {
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: green;
}

#failureMsg {
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: red;
}

tr:nth-child(odd) {
	background: #f6f6f6;
}

tr:nth-child(even) {
	background: #fff;
}

/***************************
CONTENT SECTION -  
****************************/
.coulmn-1-row {
	float: left;
	width: 100%;
	/* margin: 1% 0 0 0; */
}

.coulmn-1-row .coulmn-1 {
	float: left;
	margin: 0 10px 0 0;
	line-height: 25px;
}

.coulmn-1-row .coulmn-1	.text-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 22px;
	padding: 0 4px;
	width: 25px;
	float: left;
	line-height: 22px;
}

.coulmn-1-row .coulmn-1 .text-box-date {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 25px;
	padding: 0 2%;
	width: 48%;
	float: left;
	line-height: 25px;
}

.coulmn-1-row .coulmn-2 {
	float: left;
	width: 100%;
	line-height: 10px;
	margin: 1% 0 0 0;
}

.coulmn-1-row .row-wrapper {
	float: left;
	margin: 1% 0;
	width: 100%;
}

.coulmn-1-row .row-wrapper .label-col-wrapper {
	float: left;
	width: 40%;
	padding: 0 0 0 0;
	line-height: normal !important;
}

.coulmn-1-row .row-wrapper .ctrl-col-wrapper {
	float: left;
	width: 58%;
	padding: 0 2% 0 0;
}

.coulmn-1-row .row-wrapper .ctrl-col-wrapper .text-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 25px;
	padding: 0 2%;
	width: 35%;
	float: left;
	line-height: 25px;
}

.coulmn-1-row .row-wrapper .ctrl-col-wrapper .list-box {
	background: #FFFFFF;
	border: 0 none;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	color: #000000 !important;
	height: 25px;
	padding: 2% 4%;
	width: 93%;
	float: left;
	line-height: 25px;
}

.coulmn-1-row .row-wrapper .ctrl-col-wrapper .btn {
	margin: 0 0 0 1%;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

fieldset {
	border: 1px solid green;
	margin: 1%;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px none green;
	color: green;
	font-size: 90%;
	text-align: right;
}
/* removed glow effect for radio butons */
input[type=radio]:focus {
	outline: none;
	box-shadow: 0px 0px 7px white;
	border-color: white;
}

.exportBtn {
	background: #009900;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #fff;
	border: 0 none;
	cursor: pointer;
/*	behavior: url(PIE.htc);*/
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
    border-radius: 6px;
/*     display:block !important; */
}

h3 {
	line-height: 28px;
}

#searchvendor {
  display: table;
  width: 100%;
}

#searchvendor thead, #searchvendor tbody {
  width: 100%;
}

#searchvendor thead {
  width:100%;
  overflow-y: scroll;
  display: table;
  table-layout: fixed;
  width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

#searchvendor tbody {
  overflow: auto;
  height: 400px;
  display: block;
}

#searchvendor tr {
  width: 100%;
  text-align: left;
  display: table;
  table-layout: fixed;
}

#searchvendor td, th {
	word-wrap: break-word;
}




