/* Color Picker - Change Color */

/*****Primary Color*************/
#header {
	background: none repeat scroll 0 0 #51c0f0;
}

#form-container-in {
	/* border-top: 3px solid #0E479E; */
	
}

input.btTxt {
	background: #083B69;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #CCC;
	border: 0 none;
	cursor: pointer;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: inline-block;
	/* text-transform: uppercase; */
	font-family: Verdana, sans-serif;
	margin: 0 5px 0 0;
}

input.btTxt:hover {
	background: left top repeat-x #083B69;
}
/*****Secondary Color*************/
#Container {
	background-color: #DCEDFD;
	border: 1px solid #A3D5FF; /*Border color*/
}

#form-container-in h2 {
	background-color: #083B69;
	border-radius: 4px 4px 4px 4px;
}

/*****Border Color*************/
#Container {
	border: 1px solid #A3D5FF; /*Border color*/
}