/**Sign In**/
body {
	font-family: "Open Sans", Arial, sans-serif !important;
	margin: 0!important;
}
html{
	min-height: 100%;
}
footer .page-wrapper {
	position: sticky;
    bottom: 0;
    text-align: right;
    right: 0;
}
#sidebar-left ul.nav-main > li.active > a {
    box-shadow: 2px 0 0 #0088cc inset;
}
.checkbox-custom input[type="checkbox"]:checked + label:after {
    position: absolute;
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\F00C';
    top: 50%;
    left: 4px;
    margin-top: -5px;
    font-size: 11px;
    line-height: 1;
    width: 16px;
    height: 16px;
    color: #333;
}
#home-bg{
	background: url(../images/bg.jpg);
}
.card-title-sign {
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
}
a,a:hover,a:visited,a:focus,input,input:hover,input:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	outline: none;
}
.logo {
    position: relative;
	width: 81%;
}
/** Sign In **/
.body-sign .logo h1 {
    font-size: 20px;
}
.body-sign .logo img {
	float: left;
}
.card-sign .home-page{
	width: 100%;
	padding:0;
}
.m-0 {
    margin: 0 !important;
}
.body-sign .center-sign {
	padding-top:0;
}

.signin-page input.form-control {
	width: 100%;
	margin-bottom: 20px;
}
.signin-page label.error {
	clear: both;
    position: absolute;
    margin-top: 47px;
}
/** Sign Up **/
#sing-up-box .btn-box {
	padding: 20px 0;
}
#sing-up-box .btn-box a {
	padding: 8px 22px;
	display: inline-block;
}
/** header **/
.userbox a {
	padding: 15px 0 0 0;
    font-weight: 600;	
}
.header-nav a:hover {
	text-decoration: none;
}
.profile-info {
	line-height: 16px;
}
.logo-container  img {
	height: 56px;
    padding: 0 20px;
}
.page-wrapper header.header{
	border: 0 !important;
}
header .header-nav {
	padding-right: 10px;
}
.userbox.show .dropdown-menu {
	padding: 45px 0px 0;
}
.dashboard-page .content-body {
    padding: 85px 40px;
}

/** Dashboard **/

.content-body {
	position: relative;
    top: 0px;
}
html.fixed .page-header {
	top: 53px;
}
.table-striped.ui-jqgrid-btable {
	width: 100% !important;
}
.card-body tbody tr td,.card-body tr th{ 
	text-align: center !important;
}
.grid-wrapper {
	padding: 20px 0;
}
.grid-img {
	padding: 15px 0;
}
.grid-img img{
	width: 100%;
}
.card-body .s-ico {
	display: inline-grid;
}
.ui-jqdialog-content,.ui-jqdialog-titlebar {
	display: none;
}

/** home page **/
.home-widgets .widget-summary .summary-icon {
	width: 40px;
    height: 40px;
    padding: 6px 2px;
}

.home-widgets .card-title {
	font-size: 14px;
}
.home-widgets .widget-summary .summary {
	min-height: 20px;
}

.home-widgets .widget-summary {
	padding: 5px 0;
}
.home-widgets .widget-summary .summary-footer {
	padding: 0;
}
.widget-summary .widget-summary-col {
	vertical-align: middle;
}
.home-widgets #yellowMore {
	border: 2px solid #2baab1 !important;
	color: #2baab1 !important;
}
.home-widgets #greenID {
	border: 2px solid #e36159 !important;
	color: #e36159 !important;
}
.home-widgets .more-btn {
	border: 2px solid #0099e6;
    border-radius: 3px;
    padding: 3px 10px;
    font-weight: bold;
}

.home-widgets .widget-summary .summary a:hover {
	text-decoration: none;
}

.home-widgets .home-widget-more {
	padding: 20px 0 0 0;
}
#white-space-text {
	display: none;
}
html.fixed .sidebar-left {
	top: 56px;
}
.sidebar-left .nano-content .icon-img img {
	width: 20px;
	height: auto;
}
.sidebar-left ul.nav-main li span {
	/*font-size: 11px;*/
	vertical-align: middle;
}
.sidebar-left ul.nav-main li i {
	vertical-align: bottom;
}
#sidebar-left ul.nav-main > li > a {
    padding: 12px -8px 12px 20px;
}
#sidebar-left ul.nav-main li a {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    min-width: 300px;
    overflow: hidden;
}
html.no-overflowscrolling .nano > .nano-content {
	overflow: scroll;
}
.inner-menu-list-green,.inner-menu-list-orange {
	display: none;
}
.body {
    min-height: 50vh;
}
.inner-wrapper {
    margin-top: -500px;
}
.innepage-content {
    margin-bottom: 40px;
}
.innepage-content .card-body .ui-jqgrid table tr td,
.innepage-content .card-body .ui-jqgrid table tr th {
	color: #333 !important;
} 

/** Reports table css **/

.view-reports-table .ui-jqgrid-bdiv {
    overflow: auto;
}
.view-reports-table #pager {
	border-top: 1px solid #ccc;
}
.ui-jqgrid .ui-jqgrid-sdiv,
.ui-jqgrid .ui-jqgrid-ftable {
	width: 100% !Important;
}
.view-reports-table .ui-jqgrid-sdiv {
	border-top: 1px solid #ccc;
    padding-top: 12px;
}
.reports-export #ajaxcontent {
	background: #fff;
    padding: 0 15px;
    margin: 15px 0;
}

.search-value-wrapper select option:hover {
	background: #00a1f2 !important;
}
.search-report-form {
	border: 1px solid #ccc;
}
.btn-other-search {
	margin: 0 0 25px 10px;
}
.view-reports-table .card-body {
	padding: 0 !important;
	background: transparent !important;
}
.innepage-content .ui-jqgrid-sdiv .ui-widget-content {
    border: 0 !important;
}
.view-reports-table,
.view-reports-table #gview_gridtable,
.view-reports-table .ui-jqgrid-hdiv,
.view-reports-table .ui-jqgrid-bdiv {
	/*width: 100% !important;*/
}
.view-reports-table #grid_container .ui-jqgrid {
	background: #fff;
	padding: 0;
	/*width: 100% !important;*/
	margin: 0 auto;
} 
.dashboard-wrapper .card-body tbody tr td,
.dashboard-wrapper .card-body tr th {
	text-align: left !important;
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0.0);
}
.view-reports-table .ui-jqgrid-pager {
	width: 100% !important;
}
.innepage-content  .ui-widget-content .ui-jqgrid-pager tr:hover {
	background: none !important;
	border: 0 !important;
}
.ui-jqgrid-bdiv .table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0,0,0,0.05) !important;
}
.ui-jqgrid, .ui-jqgrid-view, 
.ui-jqgrid-bdiv,
.ui-state-default.ui-jqgrid-hdiv,
 .ui-jqgrid-htable
{
	width: 100% !important;
}
.reports-export #ajaxcontent {
	padding: 0 !important;
}
.vendor-table .ui-jqgrid-htable th,
.vendor-table .ui-jqgrid-htable tr td {
	text-align: center;
}
.customer-email-table.vendor-table tr th {
	text-align:left;
	width: auto !important;
}
.customer-email-table.vendor-table tr th:first-child {
	padding-left: 15px;
	width: 30px !important;
}
table#dynamicCustomerTable tr td {
    text-align: center;
}
.workflow-wrapper .coulmn-2 {
    line-height: 24px;
}
.naics-table .ui-jqgrid-bdiv,
.ethnicity-table .ui-jqgrid-bdiv {
	height: 100% !important;
}
.card-body .resp-tabs-list li {
	background-color: #0088cc;
	border: 1px solid #0088cc;
}
.innepage-content .ui-state-default,.innepage-content .ui-widget-content .ui-state-default, 
.innepage-content .ui-widget-header .ui-state-default,
.ui-jqgrid-titlebar {
    border: 1px solid #00a1f2 !important; 
    background: #eee !important;
    color: #333 !important;
}
.innepage-content .ui-state-default.ui-jqgrid-pager {
	border: 0 !important;
}
.naics-table table tr:hover,.naics-table table tr:focus,.naics-table table tr:visited,
.commodity-group-table table tr:hover,.commodity-group-table table tr:visited {
	background: #eee !important;
}
.innepage-content .ui-state-default.ui-accordion-header {
	border: 0 !important; 
    background: none !important;
}
.ui-dialog {
	border: 1px solid #00a1f2 !important; 
	background: #fff !important;
}
.ui-jqgrid-hbox {
	padding-right: 0 !important;
}
.ui-jqgrid-htable {
	width: 100% !Important;
}
.card-body .ui-jqgrid .ui-jqgrid-htable tr th {
	border: 0 !important;
}
.ui-draggable .ui-dialog-titlebar {
    cursor: move;
    background: #0088cc;
    color: #fff;
}
.ui-dialog {
	z-index: 9999 !important;
}
.ui-multiselect-header {
    margin-bottom: -5px !important;
    padding: 0 0 5px 0 !important;
    background: #fff;
    color: #000;
    margin-left: 0;
    margin-top: 39px !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.ui-multiselect-header ul {
    height: 35px;
    margin-bottom: 0;
    padding: 7px 20px;
}
.ui-multiselect-header ul li {
	padding: 0 10px 0 0;
}
.reports-module {
	margin-top: 0 !Important;
}
.tier-report #step-1,.tier-report #step-2,.tier-report #step-3 {
	overflow: auto !important;
}
.edit-vendor-profile .icon-img{
	background: #fff;
    border-radius: 50%;
    padding: 4px 8px;
}
.tier-report .actionBar a {
	font-weight: normal !important;
}
.ui-multiselect-menu ul {
	border: 1px solid #ccc;
}
.ui-pg-div {
    cursor: pointer;
    float: left;
    font-weight: 600;
}
div#paddtree,.ui-jqgrid-hdiv{
    border: 0 !important;
}
.innepage-content {
	margin-top: 50px;
	min-height: calc(100vh - 190px);
}
.ui-dialog div#dialog {
	padding: 10px;
}
a.ui-dialog-titlebar-close.ui-corner-all {
    float: right;
    color: #000;
}
.ui-multiselect.ui-widget.ui-state-default {
    background: none !important;
}
.ui-multiselect-menu ul,.ui-dialog .ui-state-hover{
	background: #fff !important;
		
}
.card.card-default .checkbox-custom.chekbox-primary {
	text-align: left !important;
	padding-left: 20px;
}
.ui-multiselect-menu ul li {
	list-style: none !important;
}
.ui-accordion-header .ui-icon {
	display: none;
}
.innepage-content  .ui-widget-content {
    border: 1px solid #00a1f2 !important;
}
.notifications button { 
	display: block;
}
.card-body .ui-widget-overlay {
	background: transparent url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x !important;
}
.clear {
	clear: both;
}
/** jqGrid css **/

.ui-state-default .ui-icon {
    background-image: url(images/ui-icons_6da8d5_256x240.png);
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .35;
}
.ui-icon-triangle-1-n {
    background-position: 0 -16px;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(images/ui-icons_469bdd_256x240.png) no-repeat;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
}
.ui-state-disabled {
    cursor: default !important;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled { 
 	opacity: .35; 
 	filter:Alpha(Opacity=35); 
 	background-image: none; 
}
.edit-vendor-profile #header_title h2 {
	margin-bottom: 0 !important;
}
.edit-vendor-profile #header_title .card-header {
    padding: 10px;
    right: 13px;
}
.edit-vendor-profile.swMain .stepContainer div.content {
	width: 100% !important;
	overflow: hidden;
}
.page-wrapper .userbox .profile-info {
    margin: -3px 5px 0 10px !important;
}
.edit-vendor-profile .form-box.card-body {
	border: 1px solid #0088cc;
}
.card.card-default.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active {
	height: auto !important;
}
.page-margin-wrapper .swMain ul.anchor li a.done:hover,
.page-margin-wrapper .swMain ul.anchor li a.current,
.page-margin-wrapper .swMain ul.anchor li a.selected {
	background: #006283 !important;
}
.page-margin-wrapper .swMain ul.anchor li a.done {
	background: #0088cc !important;
}
/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }
/* states and images */
.ui-icon, .ui-icon:hover{ width: 16px; height: 16px; background-image: url(../images/ui-icons_469bdd_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_469bdd_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(../images/ui-icons_d8e7f3_256x240.png); }
.ui-state-default .ui-icon { background-image: url(../images/ui-icons_6da8d5_256x240.png); }
/*.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_217bc0_256x240.png);  }*/
.ui-state-active .ui-icon {background-image: url(images/ui-icons_f9bd01_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(../images/ui-icons_2e83ff_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/ui-icons_cd0a0a_256x240.png); }
.ui-grid-ico-sort.ui-icon-asc {margin-left: 1px !important;}
.vendor-search-table table {
	width: 100% !important;
}

.dashboard-wrapper .footrow.footrow-ltr {
	font-weight: bold !important;
}
/*Responsive styles*/
@media screen and (max-width:1024px) {
	.innepage-content {
		width: 100%;
	}
}
@media only screen and (max-width: 767px){
	html.no-mobile-device .body {
	    min-height: 30vh;
	    overflow: hidden;
	}
}
@media screen and (min-width: 980px) and (max-width:1024px) {
	.responsiveGrid {
		width: 100%!important;
		overflow: auto!important;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
}
@media screen and (min-width: 1024px) and (max-width:1400px) {
	.notifications button {
		display: none;
	}
}
@media screen and (min-width: 1100px) and (max-width:1400px) {
	.table-striped.ui-jqgrid-btable {
		width: 100% !important;
	}	
	.view-reports-table #grid_container .ui-jqgrid {
		width: 100% !important;
	} 
	.view-reports-table,
	.view-reports-table #gview_gridtable,
	.view-reports-table .ui-jqgrid-hdiv,
	.view-reports-table .ui-jqgrid-bdiv {
		width: 100% !important;
	}
}
/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	.page-wrapper {
		width: 100%;
	}
	.userbox a {
		padding-top: 0;
	}
	.content-body {
		top: 0;
	}
	.sidebar-header {
		display: none;
	}
	footer .text-sm-right {
		text-align: center !important;
		padding: 10px;
	}
	.header .toggle-sidebar-left i {
		margin-top: 8px;
	}
	.header.header-nav-menu .header-nav {
		position: relative;
		z-index: 2;
		padding: 0;
		margin: 0;
	}
	.header.header-nav-menu .header-nav-main {
		background: #1D2127;
	}
	.header.header-nav-menu .header-nav-main nav > ul li {
		border-bottom: none;
	}
	.header.header-nav-menu .header-nav-main nav > ul li a {
		color: #abb4be;
		display: block;
	}
	.responsiveGrid {
		width: 100%!important;
		overflow: auto!important;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	/*.ui-jqgrid {
		width: 100%!important;
		overflow: auto!important;
		margin-bottom: 10px;
		padding-bottom: 20px;
	}
	.ui-jqgrid-htable, .ui-jqgrid-hdiv, .ui-jqgrid-view, .ui-jqgrid-bdiv {
		width: 100%!important;
	}*/
	.table-striped.ui-jqgrid-btable {
		
	}
	.inner-wrapper {
		min-height: auto;
	}
	table#searchTable th {
		display: none;
	}
	table#searchTable input, table#searchTable select {
		width: 100%!important;
	}
	table#searchTable.table-no-more td:before {
		width: 1%;
	}
	table#searchTable.table-no-more td {
		padding-left: 2%;
	}
}
/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 670px) {
	.content-body.reports-module {
	}
	.content-body.reports-module .row, .content-body.admin-module .row {
		width: 100%;
		margin: 0;
	}
	.content-body.reports-module .mx-auto, .content-body.admin-module .mx-auto {
		padding: 0;
	}
	.content-body.admin-module .mx-auto {
		width: 100%;
	}
	.content-body.admin-module .radio-custom {
		margin-bottom: 7px;
	}
	.content-body.admin-module #monthlyRecu .row {
		margin-bottom: 7px;
	}
	#customTxtEditor .mce-tinymce {
		width: 100%!important;
	}
	.view-reports-table #grid_container .ui-jqgrid {
		width: 100%!important;
	}
	.view-reports-table .col-lg-12 {
		padding: 0;
	}
	table#searchTable th {
		display: none;
	}
	table#searchTable input, table#searchTable select {
		width: 100%!important;
	}
	table#searchTable.table-no-more td:before {
		width: 1%;
	}
	table#searchTable.table-no-more td {
		padding-left: 2%;
	}
	.accordion.customize-column .card-body {
		overflow: auto;
	}
	#dynamicColumnSelect {
		margin-top: 30px;
	}
	.ui-dialog {
		z-index: 9999!important;
		width: 84%!important;
		margin: 8%!important;
	}
	.select2-drop {
		z-index: 99999!important;
	}
	
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {
	.ui-pg-table td {
		display: block;
	}
	.ui-pg-table td, .ui-pg-table td table {
		width: 100%!important;
	}
	.ui-pg-table td table td {
		display: table-cell;
	}
	.ui-paging-info {
		text-align: center;
	}
}

/************************************************************************************
smaller than 760
*************************************************************************************/
@media screen and (min-width: 768px) and (max-width:1050px) { 	
	.inner-wrapper {
		min-height: auto;
		margin-top: 0;
	}	
	.view-reports-table #grid_container .responsiveGrid.table-full-width {
		background: #fff;
	}
	.view-reports-table #grid_container .responsiveGrid.table-full-width .ui-jqgrid {
		width: 100%!important;
	}
	#customTxtEditor .mce-tinymce {
		width: 100%!important;
	}
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	.header.header-nav-menu .header-right {
		right: 0;
	}
	html.mobile-device.flexbox:not(.has-tab-navigation) .content-body {
		width: 100%!important;
	}
	html .page-header {
	    display: block;
	    top: 42px;
	    position: relative;
	    z-index: 1;
	}
	.content-body {
		/*margin-bottom: 352px;*/
	    padding-top: 60px;
	}
}
@media only screen and (min-width: 768px) {
html.fixed.sidebar-left-collapsed .content-body {
    margin-top: 30px;
}