body {
	margin: 0px;
	padding: 0px;
	/* background: #f5f5f5; */
	/* font-family: 'Verdana'; */
}

ul.resp-tabs-list,p {
	margin: 0px;
	padding: 0px;
}

.resp-tabs-list li {
	/*     font-weight: 600; */
	font-size: 11px;
	display: inline-block;
	padding: 9px 12px;
	margin: 0 0.1em 1px 0;
	list-style: none;
	cursor: pointer;
	float: left;
	/* background: url("../images/ui-bg_glass_45_0078ae_1x400.png") repeat-x
		scroll 50% 50% #0078AE; */
	background-color: #009900;
	border: 1px solid #77D5F7;
	/* border-radius: 5px; */
	color: #FFFFFF !important;
	font-weight: normal;
	clear: inherit;
	border: 1px solid #009900;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}

h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}

.resp-tab-content {
	display: none;
	padding: 15px;
}

.resp-tab-active {
	/* border: 1px solid #c1c1c1; */
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 9px 12px !important;
	border: 1px solid #c1c1c1;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.resp-tab-active {
	/*     border-bottom: none; */
	background-color: #848484 !important;
	/* background: url("../images/ui-bg_gloss-wave_50_6eac2c_500x100.png")
		repeat-x scroll 50% 50% #6EAC2C; */
	border: 1px solid #c1c1c1;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
	color: #FFFFFF;
	font-weight: normal;
}

.resp-content-active,.resp-accordion-active {
	display: block;
}

.resp-tab-content {
	border: 1px solid #c1c1c1;
}

h2.resp-accordion {
	font-size: 13px;
	border: 1px solid #c1c1c1;
	border-top: 0px solid #c1c1c1;
	margin: 0px;
	padding: 10px 15px;
	background-color: #009900;
}

h2.resp-tab-active {
	border-bottom: 0px solid #c1c1c1 !important;
	margin-bottom: 0px !important;
	padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
	border-bottom: 12px solid #c1c1c1 !important;
	background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
	float: left;
	width: 30%;
}

.resp-vtabs .resp-tabs-list li {
	display: block;
	padding: 15px 15px !important;
	margin: 0;
	cursor: pointer;
	float: none;
}

.resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
}

.resp-vtabs .resp-tab-content {
	border: none;
}

.resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
	width: 0;
	height: 0;
	float: right;
	margin-top: 3px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
	border: none;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #9B9797;
}

.error-tab-validation {
	background: url("../images/ui-bg_gloss-wave_45_e14f1c_500x100.png")
		repeat-x scroll 50% top #E14F1C;
	border: 1px solid #CD0A0A;
	color: #FFFFFF;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
	background: #848484 !important;
}

.resp-easy-accordion  h2.resp-accordion {
	display: block;
}

.resp-easy-accordion .resp-tab-content {
	border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
	border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
	width: 100%;
	margin: 0px;
}

.resp-tab-content-active {
	display: block;
}

h2.resp-accordion:first-child {
	border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
	ul.resp-tabs-list {
		display: none;
	}
	h2.resp-accordion {
		display: block;
	}
	.resp-vtabs .resp-tab-content {
		border: 1px solid #C1C1C1;
	}
	.resp-vtabs .resp-tabs-container {
		border: none;
		float: none;
		width: 100%;
		min-height: initial;
		clear: none;
	}
	.resp-accordion-closed {
		display: none !important;
	}
	.resp-vtabs .resp-tab-content:last-child {
		border-bottom: 1px solid #c1c1c1 !important;
	}
}