form.AVMS {
	margin: 0 auto;
}

form.AVMS ul li {
	border-bottom: 1px solid #e3e4e4;
	height: 55px;
	margin: 0 auto;
	width: 95%;
	font-size: 12px
}

form.AVMS ul li.sub {
	padding-top: 15px;
}

form.AVMS ul li.naicscode {
	font-size: 12px;
	height: 96px;
	margin: 0 auto;
	width: 95%;
}

input.file {
	-moz-opacity: 0;
	filter: alpha(opacity :       0);
	opacity: 0;
	z-index: 2;
	width: 50px
}

.breadcrumb {
	height: 25px;
	line-height: 22px;
	background-color: #0E479E
}

.breadcrumb p {
	color: #FFFFFF;
	padding-left: 10px
}

.breadcrumb p a {
	text-decoration: underline;
	color: #ffffff
}

.breadcrumb p a:hover {
	text-decoration: none;
}

form.AVMS ul li.diversepanel {
	border: medium none;
	font-size: 12px;
	height: 60px;
	line-height: 100px;
	margin: 0 auto;
	width: 95%;
}

.toppad {
	line-height: 0;
	margin: 0;
	padding: 4px 0 0;
}

.toppad2 {
	line-height: 0;
	margin: 0;
	padding: 4px 0 0;
	width: 250px
}

span.req {
	color: red !important;
	padding-left: 3px;
	text-align: left;
}

span.left {
	padding-right: 20px
}

span.address1 {
	padding-left: 23px;
	width: 100%;
}

label.desc {
	border: medium none;
	color: #777777;
	display: block;
	font-size: 11px;
	line-height: 150%;
	margin: 0;
	padding: 0;
	white-space: normal;
	width: 50%;
}

div.height {
	width: 30%
}

div.height2 {
	width: 15%
}

div.height3 {
	width: 20%
}

div.left {
	float: left
}

input.checkbox,input.radio {
	display: block;
	height: 13px;
	margin: 4px 0 0;
	padding: 0;
	width: 13px;
}

label.choice {
	color: #222222;
	display: block;
	font-size: 100%;
	line-height: 150%;
	margin: -17px 0 0 23px;
	padding: 0 0 5px;
	width: 88%;
}

input.medium,select.medium {
	width: 50%;
}

select.select {
	padding: 1px 0 0;
}

.button-holder {
	height: 60px;
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

input.medium2,select.medium2 {
	width: 93%;
}

select.select {
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0 0 0;
	width: 70%;
}

.button-holder {
	height: 60px;
	margin: 0 auto;
	text-align: center;
	width: 200px;
}

.button-holder ul {
	list-style: none;
	text-align: center
}

.button-holder ul li {
	display: block;
	float: left;
	margin: 8px auto 0;
	padding-left: 14px;
}

form li.buttons input {
	font-size: 100%;
	margin-right: 12px;
}

input.btTxt {
	background: url("../images/btn-bg.png") repeat-x scroll left center
		#51C0F0;
	border: medium none;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	color: white;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	/* height: 25px;
	line-height: 25px; */
	overflow: visible;
	padding: 0 5px;
	width: auto;
}

input.text-box {
	color: #000000;
	font-size: 11px !important;
	height: 18px;
	width: auto;
}

input.text-box-right {
	color: #000000;
	font-size: 11px;
	height: 14px;
	width: auto;
	text-align: right;
}

input.browse {
	color: #000000;
	font-size: 11px;
	height: 20px;
	width: auto;
}

textarea {
	width: 90%;
}

textarea.Txtarea {
	width: 50%;
}

textarea.Txtarea2 {
	width: 70%;
}

.txtbox1 {
	background-image: url(images/bg.png);
	border: 1px solid #6297BC;
	border: 1px solid #000000;
	height: 18px;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#CreateRFP-box {
	border-bottom: 1px solid #DADADA;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 15px;
	width: 93%;
}

#CreateRFP-box input.text-box {
	color: #000000;
	font-size: 11px;
	height: 14px;
	margin: 11px 37px 11px 0;
	width: auto;
}

#CreateRFP-box td {
	text-align: center
}

#CreateRFP-box td.align {
	text-align: center !important;
	color: #51C0F0;
}

#box1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding-bottom: 15px;
	width: 93%;
}

#box2 {
	height: auto;
	margin: 0 auto;
	width: 93%;
}

#box2 table {
	border-collapse: collapse;
	color: #222222;
	font-size: 11px;
	font-weight: normal;
	line-height: 150%;
	margin-bottom: 18px;
	white-space: normal;
}

#box2 table a {
	text-decoration: Underline;
	color: #2C5C98;
	font-weight: bold
}

#box2 th {
	background: repeat-x scroll left center #083B69;
	border: 1px solid #eeeeee;
	color: white;
	height: 29px;
	line-height: 30px;
}

#box2 tr.hi-light {
	background-color: #eef7ff
}

#box2 tr.normal {
	background-color: #ffffff
}

#box2 td,tr {
	border: 1px solid #EEEEEE;
	padding: 6px 10px;
}

table.desc {
	color: #222222;
	font-size: 11px;
	font-weight: bold;
	line-height: 150%;
	margin: 0 auto;
	white-space: normal;
}

td.align {
	text-align: right
}

/*********hake******/
select.limited-width {
	width: 55%;
	position: static;
}

select.expanded-width {
	width: 99% auto;
	position: absolute;
	z-index: 99;
}

div.pagination {
	height: 25px;
	line-height: 25px;
}

div.pagination ul {
	list-style: none
}

div.pagination li {
	border: medium none !important;
	line-height: 35px !important;
	margin: 0;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
}

div.pagination ul li {
	width: 100%;
	!
	important
}

div.pagination ul li a {
	background-color: #E3E4E4;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	color: #2C5C98;
	font-weight: bold;
	margin-left: 5px;
	padding: 5px;
	text-decoration: none;
}

div.pagination ul li a:hover {
	background-color: #53c2f0;
	color: #ffffff
}

div.pagination span {
	float: left;
	width: auto;
	height: 35px;
	line-height: 35px;
	margin-right: 10px
}

div.pagination span.pagelist {
	float: left;
	width: auto;
	height: 35px;
	line-height: 35px
}

.create-smllform {
	margin: auto;
	width: 236px;
}

.create-smllform-RFI {
	margin: auto;
	width: 268px;
}

input.config-color {
	background-color: #51C0F0;
	border: 1px solid #d0eefb;
	color: #000000;
	height: 38px;
	width: 50px;
	text-align: center;
	font-size: 10px;
}

.chart-box {
	background-color: white;
	cursor: default;
	float: left;
	height: 350px;
	left: 3px;
	margin: 0 6px 0 5px;
	position: relative;
	top: 13px;
	width: 280px;
}

div.gridbox_dhx_skyblue {
	float: left;
	left: 2px;
	padding-bottom: 0;
	position: relative;
	top: 0;
}

.dhx_chart {
	color: #000000;
	font-family: Verdana;
	font-size: 13px;
	left: 58px;
	overflow: hidden;
	position: relative;
	top: 0px;
	width: 618px;
	border: 1px solid #a4bed4;
}

div.gridbox_dhx_skyblue table.obj tr td {
	border-width: 0;
	font-family: Verdana;
	font-size: 11px;
	height: 30px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 13px;
}

#footer-btn {
	height: 50px;
	line-height: 50px;
	text-align: right;
	width: 98%;
}

p.leftalign {
	text-align: left;
}

p.rightalign {
	text-align: right;
}

p.rightalign-txt {
	text-align: right;
	font-weight: bold
}

/*********Phase-II-Styles***********************/
form.Phase2 {
	margin: 0 auto;
	width: 100%;
}

.Phase2-forms-Container {
	width: 95%;
	margin: auto;
	padding: 0 15px 15px;
	overflow: hidden
}

.RFP-Info-Box-Left {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F3F9FF;
	border-color: #0e479e #D0E5F8 #D0E5F8;
	border-right: 1px solid #D0E5F8;
	border-style: solid;
	border-width: 6px 0px 0px;
	width: 500px;
	padding: 10px;
	float: left
}

.RFP-desc-cont-left {
	float: left;
	width: 156px;
}

.vendor-select {
	position: relative;
	width: auto;
}

.vendor-select img.plus {
	left: 0;
	position: relative;
	top: -9px;
}

.vendor-select img.minus {
	left: 133px;
	position: relative;
	top: -10px;
}

.RFQ-vendor-select {
	width: auto;
	position: relative;
}

iframe {
	border: 1px solid #C4C4C4;
	padding: 0;
	position: relative;
	width: 200px;
}

/*
.CreateRFQ-vendor{display:none;position:absolute;z-index:10;width:10px;top:382px;left:50px}
*/
.CreateRFQ-vendor {
	z-index: 10;
	position: absolute;
	width: 10px;
	display: inline;
	top: 305px;
	left: 865px;
}

.RFQ-vendor-select img.plus {
	left: 0;
	position: relative;
	top: -10px;
}

.RFQ-vendor-select img.minus {
	left: 132px;
	position: relative;
	top: -11px;
}

.RFP-Info-Box-Left h2 {
	background: none repeat scroll 0 0 transparent !important;
	color: #004C75;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;
}
/**RFQ Box Start***/
.RFQ-Phase2-forms-Container {
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 97%;
}

.RFQ-Info-Box-Left {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F3F9FF;
	border-color: #0E479E #D0E5F8 #D0E5F8;
	border-style: solid;
	border-width: 6px 0 0;
	margin: 0 auto;
	padding: 10px;
	width: 50% auto;
}

.RFQ-Info-Box-Left h2 {
	background: none repeat scroll 0 0 transparent !important;
	color: #004C75;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;
}

.RFQ-Box-inside-cont {
	background-color: #FFFFFF;
	border: 1px solid #DCEDFD;
	overflow: hidden;
	padding: 15px;
	height: 140px;
}

.RFQ-info {
	float: left;
	margin-bottom: 10px;
	margin-right: 0;
	padding: 10px 0px 10px 10px;
	width: auto;
}

.RFQ-info2 {
	float: left;
	margin-bottom: 10px;
	margin-right: 85px;
	padding: 10px;
	width: auto;
}

div.RFQ-info label {
	border: medium none;
	color: #000000;
	display: block;
	font-weight: normal;
	line-height: 150%;
	margin: 0;
	padding: 0 0 2px;
	white-space: normal;
	width: 100%;
}

div.RFQ-info input.text-box {
	color: #000000;
	font-size: 11px;
	height: 17px;
	width: auto;
}
/**RFQ Box End***/
.RFP-Info-Box-right {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F3F9FF;
	border-color: #0e479e #D0E5F8 #D0E5F8;
	border-right: 1px solid #D0E5F8;
	border-style: solid;
	border-width: 6px 0px 0px;
	width: 395px;
	padding: 10px;
	float: right
}

.RFP-Info-Box-right h2 {
	background: none repeat scroll 0 0 transparent !important;
	color: #004C75;
	font-family: verdana;
	font-size: 13px;
	font-weight: bold;
	margin: 0 !important;
	padding: 0 !important;
}

.Box-inside-cont {
	background-color: #FFFFFF;
	border: 1px solid #DCEDFD;
	overflow: hidden;
	padding: 15px;
	height: 250px;
}

#cost-box {
	background: none repeat scroll 0 0 #F3F9FF;
	border: 1px solid #D1E8FF;
	float: right;
	height: 100px;
	line-height: 100px;
	text-align: center;
	width: 220px;
	margin-bottom: 20px;
}

#cost-box lable {
	font-size: 14px
}

.Box-inside-cont-right {
	background-color: #FFFFFF;
	border: 1px solid #DCEDFD;
	overflow: hidden;
	height: 250px;
}

.Box-inside-cont-right table {
	width: 100%;
	vertical-align: middle
}

.Box-inside-cont-right th {
	height: 25px;
	background: url(../images/tablehead-rep.gif) repeat-x left;
	color: #004c75;
	border: 1px solid #ffffff
}

.Box-inside-cont-right td {
	padding: 19px
}

.Box-inside-cont-rfp {
	overflow: hidden;
}

.RFP-info {
	float: left;
	margin-bottom: 10px;
	margin-right: 0;
	width: auto;
}

.RFP-info2 {
	float: left;
	margin-bottom: 0px;
	margin-right: 0;
	width: 156px;
}

div.RFP-info label {
	border: medium none;
	color: #000000;
	display: block;
	font-weight: normal;
	line-height: 150%;
	margin: 0;
	padding: 0;
	white-space: normal;
	width: 100%;
	padding-bottom: 2px;
}

div.RFP-info input.text-box {
	color: #000000;
	font-size: 11px;
	height: 17px;
	width: auto;
	margin-right: 21px;
}

.RFP-desc-cont {
	float: right;
	width: 300px;
}

div.RFP-info textarea {
	height: 130px;
	background-color: #f0f8fc;
	border: 1px solid #d4eafe;
	overflow: auto;
	color: #000711;
	font-size: 11px;
	line-height: 20px
}

input.btTxt2 {
	background: url("../images/btn2-bg.gif") repeat-x scroll left center
		#51C0F0;
	border: medium none;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	color: white;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 23px;
	line-height: 23px;
	overflow: visible;
	padding: 0 5px;
	width: auto;
}

.Grid-btns {
	height: 27px;
	line-height: 27px;
	padding: 3px 50px 0 0;
	position: relative;
	text-align: right;
	top: 6px;
}

.RFP-Info-Box-award {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F3F9FF;
	border-color: #0E479E #D0E5F8 #D0E5F8;
	border-style: solid;
	border-width: 6px 0 0;
	float: right;
	padding: 10px;
	width: 260px;
}

.Box-inside-cont-award {
	background-color: #FFFFFF;
	border: 1px solid #DCEDFD;
	overflow: hidden;
	height: 180px;
}

.Box-inside-cont-award  table {
	width: 100%;
	vertical-align: middle
}

.Box-inside-cont-award  th {
	height: 25px;
	background: url(../images/tablehead-rep.gif) repeat-x left;
	color: #004c75;
	width: 1%;
	border: 1px solid #DCEDFD;
}

.Box-inside-cont-award  td {
	padding: 19px;
	text-align: center
}

a.linkToButton {
	background: #083B69;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #ccc;
	border: 0 none;
	cursor: pointer;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: inline-block;
	/* text-transform: uppercase; */
	font-family: Verdana, sans-serif;
	margin: 0 5px 0 0;
	float: right;
}

a.linkToButton:hover {
	background: #083B69;
}

a.linkToCancle {
	background: #083B69;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	color: #ccc;
	border: 0 none;
	cursor: pointer;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-family: Verdana, sans-serif;
	margin: 0 5px 0 0;
}

a.linkToCancle:hover {
	background: #083B69;
}

/* input.customerbtTxt {
	background: url("../images/btn-bg.png") repeat-x scroll left center
		#51C0F0;
	border: medium none;
	border-radius: 0.3em 0.3em 0.3em 0.3em;
	color: white;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	overflow: visible;
	padding: 0 5px;
	width: auto;
} */
.textBox {
	height: 20px;
	font-size: 11px;
}

.selectBox {
	height: 21px;
	font-size: 11px;
	width: 136px;
}

.slidableHeader {
	cursor: pointer;
	margin-left: 15px;
	width: 98.5%;
}

label {
	width: 10em;
	float: left;
	font-size: 11px;
	color: black;
}

label.error {
	float: none;
	color: red;
	display: inline-block;
	padding-left: 20px;
	vertical-align: top;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	line-height: 20px;
	margin-left: 0.45em;
	width: 100%;
}

p {
	clear: both;
	padding: 2px;
}

em {
	font-weight: bold;
	padding-right: 1em;
	vertical-align: top;
}