/* CSS Document */
* {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

ul,li {
	list-style: none outside none;
}

img,fieldset {
	border: medium none;
}

header,footer,section,aside,nav,article,figure {
	display: block;
}

html,body {
	height: 100%;
}

body {
	background: url(../images/body-bg.jpg) repeat-x scroll 0 0 #ffffff;
	font-family: Verdana, sans-serif;
}

p {
	color: #595757;
	font-family: Verdana, sans-serif;
	font-size: 13px;
}

h2 {
	color: #EB008A;
	font-family: Verdana, sans-serif;
	font-size: 50px;
	line-height: 0.8em;
}

h3 {
	color: #EB008A;
	font-family: Verdana, sans-serif;
	font-size: 18px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
	font-size: 1px
}

hr {
	color: #CCD6E3
}

/*******************/
#wrapper {
	background-color: #FFFFFF;
	margin: 25px auto 0;
	padding: 0 13px 15px;
	width: 900px;
	border-top-left-radius: 0.8em;
	border-top-right-radius: 0.8em;
	border-bottom-left-radius: 0.8em;
	border-bottom-right-radius: 0.8em;
	-moz-box-shadow: 0 3px 5px 0 #CACACA;
	-webkit-box-shadow: 0 3px 5px 0 #CACACA;
	box-shadow: 0 3px 5px 0 #CACACA;
}

#header {
	height: 104px;
}

#header #product-logo {
	height: 72px;
	padding-top: 15px;
	width: 226px;
}

#customer-bar {
	background: url(../images/cus-bar-bg.gif) repeat-x left bottom;
	border: 1px solid #d2d9db;
	border-bottom: none;
	float: right;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	right: 10px;
	top: -14px;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
}

#customer-bar p {
	font-size: 12px
}

#customer-bar p span.customer {
	background: url("../images/customer.gif") no-repeat scroll 0 center
		transparent;
	color: #990000;
	padding-left: 18px;
}

div#navigation {
	height: 39px;
	background: url(../images/nav-left-curve.jpg) left no-repeat
}

div#nav-right-curve {
	height: 39px;
	background: url(../images/nav-right-curve.jpg) right no-repeat
}

#Container {
	background-color: #DCEDFD;
	border: 1px solid #A3D5FF;
	margin-bottom: 10px;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	-moz-box-shadow: 0px 4px 5px 0px #ccc;
	-webkit-box-shadow: 0px 4px 5px 0px #ccc;
	box-shadow: 0px 4px 5px 0px #ccc;
}

#form-container {
	background-color: #DCEDFD;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	width: 100%;
}

#form-container-in {
	background-color: #FFFFFF;
	border-top: 4px solid #083B69;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	width: 99%;
}

#form-container-in h1 {
	border-bottom: 1px solid #CCD6E3;
	font-size: 18px;
	line-height: 44px;
	padding-left: 10px;
}

#form-container-in h2 {
	background: url("../images/h2-arrow.png") no-repeat scroll 10px center
		#5289CD;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: normal;
	height: 28px;
	line-height: 28px;
	margin: 10px auto;
	padding-left: 23px;
	width: 97%;
}

#Login-Container {
	border: 1px solid #E5E1E1;
	height: 445px;
	margin: 30px auto 0;
	width: 830px;
	background: url(../images/login-bg.jpg) repeat-x left bottom #ffffff;
	padding: 16px;
}

div.login-box {
	margin: 0 auto;
	padding-top: 18px;
	width: 75%;
}

#Login-Container-boder {
	float: left;
	margin: 0 auto;
	width: 270px;
}

#Login-Container-form {
	border: 1px solid #A3D5FF;
	float: left;
	margin: 0 auto;
	width: 268px;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.login-btn {
	background: url(../images/login-btn.gif) no-repeat center;
	width: 70px;
	height: 25px;
	border: none;
	cursor: pointer
}

.send-btn {
	background: url(../images/send-btn.png) no-repeat center;
	width: 70px;
	height: 25px;
	border: none;
	cursor: pointer
}

.reg-btn {
	background: url(../images/registration-btn.png) no-repeat center;
	width: 119px;
	height: 25px;
	border: none;
	cursor: pointer
}

#Login-Container-boder h2 {
	background: url("../images/log-titile.gif") repeat scroll 0 0
		transparent;
	display: block;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	height: 30px;
	margin: 0;
	padding: 0 0 0 10px;
	width: 260px;
}

#banner-right {
	border: 1px solid #A3D5FF;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	float: right;
	height: 305px;
	padding: 12px;
	width: 516px;
}

#banner-right img {
	border: 1px solid #D6D7D7;
}

#right-part {
	float: right;
}

.login-tabs-bot {
	height: 67px;
	margin: 17px auto 0;
	width: 539px;
}

.tab1 {
	display: block;
	float: left;
	height: 67px;
	padding-right: 16px;
	width: 169px;
}

.tab1 a {
	background: url("../images/Log-in-tab.png") no-repeat scroll 0 0
		transparent;
	color: #083B69;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 52px;
	line-height: 19px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
	width: 169px;
}

.tab1 a:hover {
	background: url("../images/Log-in-tab-hover.png") no-repeat scroll
		center top transparent;
	color: #FFFFFF;
	text-decoration: underline;
}

.tab2 {
	display: block;
	float: left;
	height: 67px;
	line-height: 67px;
	padding-right: 15px;
	width: 169px;
}

a.hint {
	color: #990000;
	text-decoration: none
}

a.hint:hover {
	text-decoration: underline
}

.tab2 a {
	background: url("../images/Log-in-tab.png") no-repeat scroll 0 0
		transparent;
	color: #083B69;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 169px;
}

.tab2 a:hover {
	background: url("../images/Log-in-tab-hover.png") no-repeat scroll
		center top transparent;
	color: #FFFFFF;
	text-decoration: underline;
}

.tab3 {
	display: block;
	float: left;
	height: 67px;
	line-height: 67px;
	width: 169px;
}

.tab3 a {
	background: url("../images/Log-in-tab.png") no-repeat scroll 0 0
		transparent;
	color: #083B69;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 169px;
}

.tab3 a:hover {
	background: url("../images/Log-in-tab-hover.png") no-repeat scroll
		center top transparent;
	color: #FFFFFF;
	text-decoration: underline;
}

#footer {
	height: 51px;
	line-height: 51px
}

#footer p {
	color: #60686A;
	float: left;
	padding-left: 20px;
}

#footer-logo {
	float: right;
	height: 62px;
	position: relative;
	right: 5px;
	top: 3px;
	width: 212px;
}

/*********Forms****************/
form.AVMS {
	margin: 0 auto;
}

form.AVMS ul li {
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	width: 100%;
}

form.AVMS ul li p {
	color: red;
	font-size: 12px;
	line-height: 30px;
	text-align: right;
}

input {
	background-color: #FFFFFF;
	background-position: initial initial;
	background-repeat: initial initial;
	border: 1px solid #CCCCCC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* float: left; */
	height: 25px;
	line-height: 25px;
	padding: 0 2%;
	width: 85%;
}

input:focus {
  border-color:#61C5FA;
  box-shadow:#61C5FA 0 0 7px;
  outline:none;
}

form.AVMS ul li input.none {
	width: 0%
}

p.check {
	font-size: 12px;
	text-align: right;
}

label.desc {
	border: medium none;
	color: #222222;
	display: block;
	font-size: 95%;
	font-weight: bold;
	line-height: 150%;
	margin: 0;
	padding: 0 0 3px;
	white-space: normal;
	width: 100%;
}

span.req {
	color: red !important;
	padding-left: 3px;
	text-align: left;
}

.register-here {
	background: url("../images/box-bg.gif") repeat-x scroll left center
		transparent;
	border: 1px solid #A3D5FF;
	height: 125px;
	margin: auto auto 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 19px;
	width: 197px;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.register-here p.box {
	color: #000000;
	font-size: 16px;
	text-align: left;
}

.register-here span {
	color: #FF6600;
	font-size: 21px;
	text-align: left;
}

label.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}
span.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}
