img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	border: 0px;
}

.logo img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	border: 0px;
}
 @media screen and ( max-width:1045px) {
.innepage-content {
	width:74%;
}
.item-box-one {
	margin:0 23px 0 0;
}
.item-box-two {
	margin:0 23px 0 0;
}
.item-box-three {
	margin:0 12px 0 0;
}
.item-box-border {
	margin:0 0 0 0;
}
.btn_center {text-align:center; width:65%;}
}
/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {
	.page-wrapper {
		margin: 0 auto;
		width: 95%;
		padding: 0;
	}
	.innepage-content {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.item-box-one {
		float: left;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-two {
		float: right;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-three {
		float: left;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-four {
		float: right;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.btn_center {
	    text-align: center;
	    width: 74%;
	}
	.inner-menu-list-yellow {
		display: block;
	}
	.inner-menu-list-green {
		display: block;
	}
	.inner-menu-list-orange {
		display: block;
	}
	.inner-menu{
		display: none;
	}
}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {
	header {
		height: auto;
	}
	header .logo {
		text-align: center;
		float: none;
		width: 100%;
	}
	.welcome-text {
		margin: 0 0 10px 0;
	}
	.welcome_bg {
		width: 100%;
	}
	.item-box-one {
		float: left;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-two {
		float: right;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-three {
		float: left;
		width: 48%;
		margin: 0 0 10px 0;
	}
	.item-box-four {
		float: right;
		width: 48%;
		margin: 0 0 10px 0;
	}
	footer {
		height: auto;
	}
	.inner-menu {
		float: left;
		width: 100%;
	}
	/* .wrapper-half  { width:100%; }
	.row-wrapper .label-col-wrapper { width:100%; padding:0;  }
	.row-wrapper .ctrl-col-wrapper { width:100%; padding:0;  }
	.row-wrapper .ctrl-col-wrapper .text-box { width:92%; } */
	.swMain .stepContainer { width:99% !important;}
.swMain ul.anchor  { width:100%; margin-bottom:20px !important;}
.swMain ul.anchor li { width:45px; float:left; clear:none !important; margin-right:15px !important;}

.swMain ul.anchor li a { width:98% !important;}

.stepDesc { display:none !important;}

.swMain .buttonFinish { width:65px !important;}  
.swMain .buttonNext { width:65px !important;}  
.swMain .buttonSave { width:65px !important;}  
.swMain .buttonPrevious  { width:65px !important;}  
.swMain .stepContainer div.content { width:100%;}}
.swMain .stepContainer { }
.swMain ul.anchor li:last-child { margin-right:0px !important;}

.row-wrapper .ctrl-col-wrapper .list-box { width:100%; padding:5px; } 
.btn_center {
    text-align: center;
    width: 74%;
}
}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {
	/* disable webkit text size adjust (for iPhone) */
	html {
		-webkit-text-size-adjust: none;
	}
	header {
		height: auto;
	}
	header .logo {
		text-align: center;
		float: none;
		width: 100%;
	}
	.welcome-text {
		margin: 0 0 10px 0;
	}
	.welcome_bg {
		width: 100%;
	}
	.item-box-one {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
		height: auto;
		clear: both;
	}
	.item-box-two {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
		height: auto;
		clear: both;
	}
	.item-box-three {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
		height: auto;
		clear: both;
	}
	.item-box-four {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
		height: auto;
		clear: both;
	}
	.btn-bg a {
		margin: 10px auto;
		float: none;
		display: block;
	}
	footer {
		height: auto;
	}
	#header_title h2 { width:76% !important;}
	.swMain .buttonPrevious  { width:100% !important;} 
	/* .wrapper-half  { width:100%; }
	.row-wrapper .label-col-wrapper { width:100%; padding:0;  }
	.row-wrapper .ctrl-col-wrapper { width:100%; padding:0;  }
	.row-wrapper .ctrl-col-wrapper .text-box { width:92%; } 
	.row-wrapper .ctrl-col-wrapper .list-box { width:100%; padding:5px; }*/
}


/************************************************************************************
smaller than 760
*************************************************************************************/
@media screen and (min-width: 768px) and (max-width:1050px) { 
	
	/*.swMain .stepContainer { width:66% !important;}*/
	
	
	
}
