/**********************************************
CSS Document Created  for Diamond Springs
***********************************************

This stylesheet includes the following sections 

  1. LAYOUT DEFAULT STYLES
  2. LAYOUT POSITIONING
  3. TYPOGRAPHY - GLOBAL
  4. LAYOUT STYLES
	  4.1. HEADER SECTION
	  4.2. MENU SECTION
	  4.3. CONTENT SECTION
		  4.3.1 LOGIN SECTION
		  4.3.2 INNERPAGE SECTION
  5.LAYOUT REGULAR SECTION
  6.FOOTER SECTION		
***********************************************/



/***************************
LAYOUT DEFAULT STYLES
***************************/
*{margin:0px; padding:0px; text-decoration:none;}
body{ width:100%; margin:0; padding:0; color:#000; font-family: Verdana, Geneva, sans-serif; font-size:12px; background-color:#fff;   }

/***************************
LAYOUT POSITIONING
****************************/
.page-margin-wrapper{ float:left; width:100%; }
.page-wrapper{ margin:0 auto; width:90%; padding:0 5%;  }

/***************************
TYPOGRAPHY - GLOBAL
****************************/
p { margin:0 0 10px 0; padding:0; font-style:normal; font-weight:normal; line-height:20px; font-size:13px; color:#333; text-align:justify; }
/****************************LAYOUT STYLES****************************/

/***************************
HEADER SECTION
****************************/
header										{ float:left; width:100%; height:109px; padding:10px 0 0 0; background:url(../images/header-bg.png) left top repeat-x;  }
header .top-links							{ float:right; margin:10px 0 0 0; clear:both; font-family:Arial, Helvetica, sans-serif; font-weight:bold; background:#083B69; height:28px; line-height:28px; color:#fff;  behavior: url(PIE.htc); -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position:relative; display:block; }	
header .top-links a							{ color:#fff; padding:0 5px; font-size:12px;  }
header .top-links a:hover 					{ color:#cee8ff; }
header .welcome_bg { float:right; margin:20px 0 0 0; }
header .welcome-text { float:right; clear:both; font-size:12px; color:#333; }
header .welcome-text span { color:#083B69; font-size:15px; }
header .logo								{ float:left; margin:10px 0 10px 0; }
header .curve								{ float:left; margin: 0 0 0 350px; }
									   
  
/***************************
SlIDER SECTION
****************************/

/***************************
CONTENT SECTION
****************************/
article 									{ float:left; width:100%;  }
  	#content-area							{ float:left; width:100%; padding:20px 0; background-color: #fff; margin: 0px auto; min-height:500px; }
	.page-title								{ float:left; width:100%; line-height:32px; margin:0 0 20px 0; /* text-transform:uppercase; */ font-size:14px;   }
  	.page-title img 						{ margin:0 10px 0 0; vertical-align:middle; }
	.innepage-content { float:right; width:80%;  }

	.btn 									{ float:left; background:#083B69; height:28px; padding:0 10px; line-height:28px; color:#ccc; border:0 none; cursor:pointer; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:block; font-family: Verdana, Geneva, sans-serif; margin:2px 5px 0 0; -webkit-appearance: none;   } 
/***************************
CONTENT SECTION - index Page
****************************/  
.more-btn	{ margin:20px auto !important; background:#083B69; width:75px; height:30px; color:#fff; display:block; text-align:center; text-transform:uppercase; font-size:13px; line-height:30px; behavior: url(PIE.htc); -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; position:relative;   }
.box-width { float:left; border:2px solid #239eee; width:100%;  behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fff; position:relative; display:block;   }
.item-box-one								{ float:left; width:213px; margin:0 117px 0 0; }
.item-box-two								{ float:left; width:213px; margin:0 118px 0 0;  }
.item-box-three								{ float:left; width:213px; margin:0 60px 0 0; }
.item-box-four								{ float:right; width:213px; margin:0 0 0 0;   }
.box-title									{ width:100%; background:#083B69; height:45px; text-align:center; line-height:45px; behavior: url(PIE.htc); -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0;position:relative; display:block; font-size:14px; color:#fff; }
.box-title:hover							{ background:#cee8ff; color:#000; }
.box-title.active							{ background:#cee8ff; color:#000; }
.item-box-border 							{ float:left; width:2px; background:#239eee; min-height:500px; display:block; margin:0 54px 0 0;  }
/***************************
LAYOUT REGULAR SECTION
****************************/
.clear 										{ clear:both; }
a img										{ border:0 none; }
.left										{ float:left; }
.right										{ float:right; }

/***************************
FOOTER
****************************/	
footer										{ float:left; width:100%; background:#083B69; height:40px; }
footer .copy                                { float:left; color:#fff; line-height:40px; width:100%; text-align:center; }
footer .copy img { margin:0; vertical-align:middle; } 

/***************************
Menu and Icon Set
****************************/
.btn-bg										{ float:left; width:100%; line-height:15px; }
.btn-bg a 									{ width:96px; height:50px; float:left; margin:5px; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:block; color:#fff; font-size:11px; text-align:center; padding:60px 0 0 0; text-decoration:none !important;  }
.btn-bg a:hover								{ color:#000; }
.btn-bg a.active							{ color:#000; }
.btn-bg .submenu a 							{ width:85px; height:45px; float:left; margin:5px; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:block; color:#fff; font-size:10px; text-align:center; padding:40px 0 0 0; text-decoration:none !important;  }
.btn-bg .submenu a:hover					{ color:#000; }
.btn-bg .submenu a.active					{ color:#000; }

.icon-1										{ background:url(../images/icon-1.png) center 10px no-repeat #083B69; }
.icon-1:hover								{ background:url(../images/icon-1-hover.png) center 10px no-repeat #cee8ff;  }
.icon-1.active								{ background:url(../images/icon-1-hover.png) center 10px no-repeat #cee8ff;  }

.icon-2										{ background:url(../images/icon-2.png) center 15px no-repeat #083B69; }
.icon-2:hover								{ background:url(../images/icon-2-hover.png) center 15px no-repeat #cee8ff;  }
.icon-2.active								{ background:url(../images/icon-2-hover.png) center 15px no-repeat #cee8ff;  }

.icon-3										{ background:url(../images/icon-3.png) center 10px no-repeat #083B69; }
.icon-3:hover								{ background:url(../images/icon-3-hover.png) center 10px no-repeat #cee8ff;  }
.icon-3.active								{ background:url(../images/icon-3-hover.png) center 10px no-repeat #cee8ff;  }

.icon-4										{ background:url(../images/icon-4.png) center 10px no-repeat #083B69; }
.icon-4:hover								{ background:url(../images/icon-4-hover.png) center 10px no-repeat #cee8ff;  }
.icon-4.active								{ background:url(../images/icon-4-hover.png) center 10px no-repeat #cee8ff;  }

.icon-5										{ background:url(../images/icon-5.png) center 15px no-repeat #083B69; }
.icon-5:hover								{ background:url(../images/icon-5-hover.png) center 15px no-repeat #cee8ff;  }
.icon-5.active								{ background:url(../images/icon-5-hover.png) center 15px no-repeat #cee8ff;  }

.icon-6										{ background:url(../images/icon-6.png) center 10px no-repeat #083B69; }
.icon-6:hover								{ background:url(../images/icon-6-hover.png) center 10px no-repeat #cee8ff;  }
.icon-6.active								{ background:url(../images/icon-6-hover.png) center 10px no-repeat #cee8ff;  }

.icon-7										{ background:url(../images/icon-7.png) center 10px no-repeat #083B69; }
.icon-7:hover								{ background:url(../images/icon-7-hover.png) center 10px no-repeat #cee8ff;  }
.icon-7.active								{ background:url(../images/icon-7-hover.png) center 10px no-repeat #cee8ff;  }

.icon-8										{ background:url(../images/icon-8.png) center 10px no-repeat #083B69; }
.icon-8:hover								{ background:url(../images/icon-8-hover.png) center 10px no-repeat #cee8ff;  }
.icon-8.active								{ background:url(../images/icon-8-hover.png) center 10px no-repeat #cee8ff;  }

.icon-9										{ background:url(../images/icon-9.png) center 10px no-repeat #083B69; }
.icon-9:hover								{ background:url(../images/icon-9-hover.png) center 10px no-repeat #cee8ff;  }
.icon-9.active								{ background:url(../images/icon-9-hover.png) center 10px no-repeat #cee8ff;  }

.icon-10									{ background:url(../images/icon-10.png) center 10px no-repeat #083B69; }
.icon-10:hover								{ background:url(../images/icon-10-hover.png) center 10px no-repeat #cee8ff;  }
.icon-10.active								{ background:url(../images/icon-10-hover.png) center 10px no-repeat #cee8ff;  }

.icon-11									{ background:url(../images/icon-11.png) center 10px no-repeat #083B69; }
.icon-11:hover								{ background:url(../images/icon-11-hover.png) center 10px no-repeat #cee8ff;  }
.icon-11.active								{ background:url(../images/icon-11-hover.png) center 10px no-repeat #cee8ff;  }

.icon-12									{ background:url(../images/icon-12.png) center 10px no-repeat #083B69; }
.icon-12:hover								{ background:url(../images/icon-12-hover.png) center 10px no-repeat #cee8ff;  }
.icon-12.active								{ background:url(../images/icon-12-hover.png) center 10px no-repeat #cee8ff;  }

.icon-13									{ background:url(../images/icon-13.png) center 10px no-repeat #083B69; }
.icon-13:hover								{ background:url(../images/icon-13-hover.png) center 10px no-repeat #cee8ff;  }
.icon-13.active								{ background:url(../images/icon-13-hover.png) center 10px no-repeat #cee8ff;  }

.icon-14									{ background:url(../images/icon-14.png) center 10px no-repeat #083B69; }
.icon-14:hover								{ background:url(../images/icon-14-hover.png) center 10px no-repeat #cee8ff;  }
.icon-14.active								{ background:url(../images/icon-14-hover.png) center 10px no-repeat #cee8ff;  }

.icon-15									{ background:url(../images/icon-15.png) center 10px no-repeat #083B69; }
.icon-15:hover								{ background:url(../images/icon-15-hover.png) center 10px no-repeat #cee8ff;  }
.icon-15.active								{ background:url(../images/icon-15-hover.png) center 10px no-repeat #cee8ff;  }

.icon-16									{ background:url(../images/icon-16.png) center 10px no-repeat #083B69; }
.icon-16:hover								{ background:url(../images/icon-16-hover.png) center 10px no-repeat #cee8ff;  }
.icon-16.active								{ background:url(../images/icon-16-hover.png) center 10px no-repeat #cee8ff;  }

.icon-17									{ background:url(../images/icon-17.png) center 10px no-repeat #083B69; }
.icon-17:hover								{ background:url(../images/icon-17-hover.png) center 10px no-repeat #cee8ff;  }
.icon-17.active								{ background:url(../images/icon-17-hover.png) center 10px no-repeat #cee8ff;  }

.icon-18									{ background:url(../images/icon-18.png) center 10px no-repeat #083B69; }
.icon-18:hover								{ background:url(../images/icon-18-hover.png) center 10px no-repeat #cee8ff;  }
.icon-18.active								{ background:url(../images/icon-18-hover.png) center 10px no-repeat #cee8ff;  }

.icon-19									{ background:url(../images/icon-19.png) center 10px no-repeat #083B69; }
.icon-19:hover								{ background:url(../images/icon-19-hover.png) center 10px no-repeat #cee8ff;  }
.icon-19.active								{ background:url(../images/icon-19-hover.png) center 10px no-repeat #cee8ff;  }

.icon-20									{ background:url(../images/icon-20.png) center 10px no-repeat #083B69; }
.icon-20:hover								{ background:url(../images/icon-20-hover.png) center 10px no-repeat #cee8ff;  }
.icon-20.active								{ background:url(../images/icon-20-hover.png) center 10px no-repeat #cee8ff;  }

.icon-21									{ background:url(../images/icon-21.png) center 10px no-repeat #083B69; }
.icon-21:hover								{ background:url(../images/icon-21-hover.png) center 10px no-repeat #cee8ff;  }
.icon-21.active								{ background:url(../images/icon-21-hover.png) center 10px no-repeat #cee8ff;  }

.icon-22										{ background:url(../images/icon-1_2.png) center 10px no-repeat #083B69; }
.icon-22:hover								{ background:url(../images/icon-1-hover_2.png) center 10px no-repeat #cee8ff;  }
.icon-22.active								{ background:url(../images/icon-1-hover_2.png) center 10px no-repeat #cee8ff;  }

.icon-23									{ background:url(../images/manage-certifying-agency.png) center 10px no-repeat #083B69; }
.icon-23:hover								{ background:url(../images/manage-certifying-agency_hover.png) center 10px no-repeat #cee8ff;  }
.icon-23.active								{ background:url(../images/manage-certifying-agency_hover.png) center 10px no-repeat #cee8ff;  }

.icon-24									{ background:url(../images/edit-customer-info.png) center 10px no-repeat #083B69; }
.icon-24:hover								{ background:url(../images/edit-customer-info_hover.png) center 10px no-repeat #cee8ff;  }
.icon-24.active								{ background:url(../images/edit-customer-info_hover.png) center 10px no-repeat #cee8ff;  }

.icon-25									{ background:url(../images/performance-assessment-template.png) center 10px no-repeat #083B69; }
.icon-25:hover								{ background:url(../images/performance-assessment-template-hover.png) center 10px no-repeat #cee8ff;  }
.icon-25.active								{ background:url(../images/performance-assessment-template-hover.png) center 10px no-repeat #cee8ff;  }

.icon-26									{ background:url(../images/proactive-monitoring-and-alerting.png) center 10px no-repeat #083B69; }
.icon-26:hover								{ background:url(../images/proactive-monitoring-and-alerting-hover.png) center 10px no-repeat #cee8ff;  }
.icon-26.active								{ background:url(../images/proactive-monitoring-and-alerting-hover.png) center 10px no-repeat #cee8ff;  }

.icon-27									{ background:url(../images/tier2-reporting-period.png) center 10px no-repeat #083B69; }
.icon-27:hover								{ background:url(../images/tier2-reporting-period-hover.png) center 10px no-repeat #cee8ff;  }
.icon-27.active								{ background:url(../images/tier2-reporting-period-hover.png) center 10px no-repeat #cee8ff;  }

.icon-28									{ background:url(../images/report-6.png) center 10px no-repeat #083B69; }
.icon-28:hover								{ background:url(../images/report-6-hover.png) center 10px no-repeat #cee8ff;  }
.icon-28.active								{ background:url(../images/report-6-hover.png) center 10px no-repeat #cee8ff;  }

.icon-29									{ background: url(../images/ethnicity.png) center 10px no-repeat #083B69; }
.icon-29:hover								{ background: url(../images/ethnicity_hover.png)  center 10px no-repeat #cee8ff;  }
.icon-29.active								{ background: url(../images/ethnicity_hover.png)  center 10px no-repeat #cee8ff;  }

.commodity-category							{ background: url(../images/commodity-category.png) center 10px no-repeat #083B69; }
.commodity-category:hover					{ background: url(../images/commodity-category_hover.png)  center 10px no-repeat #cee8ff;  }
.commodity-category.active					{ background: url(../images/commodity-category_hover.png)  center 10px no-repeat #cee8ff;  }

.commodity									{ background: url(../images/commodity.png) center 10px no-repeat #083B69; }
.commodity:hover							{ background: url(../images/commodity_hover.png)  center 10px no-repeat #cee8ff;  }
.commodity.active							{ background: url(../images/commodity_hover.png)  center 10px no-repeat #cee8ff;  }

.geographical-settings						{ background: url(../images/geographical-settings.png) center 10px no-repeat #083B69; }
.geographical-settings:hover				{ background: url(../images/geographical-settings_hover.png)  center 10px no-repeat #cee8ff;  }
.geographical-settings.active				{ background: url(../images/geographical-settings_hover.png)  center 10px no-repeat #cee8ff;  }

.manage-division							{ background: url(../images/manage_division.png) center 10px no-repeat #083B69; }
.manage-division:hover						{ background: url(../images/manage_division.png)  center 10px no-repeat #cee8ff;  } /*manage_division_hover.png Need to get Icon from Designer*/
.manage-division.active						{ background: url(../images/manage_division.png)  center 10px no-repeat #cee8ff;  } /*manage_division_hover.png Need to get Icon from Designer*/

.country									{ background: url(../images/country.png) center 10px no-repeat #083B69; }
.country:hover								{ background: url(../images/country.png)  center 10px no-repeat #cee8ff;  } /*country_hover.png Need to get Icon from Designer*/
.country.active								{ background: url(../images/country.png)  center 10px no-repeat #cee8ff;  } /*country_hover.png Need to get Icon from Designer*/

.certification-type							{ background: url(../images/certification-type.png) center 10px no-repeat #083B69; }
.certification-type:hover					{ background: url(../images/certification-type.png)  center 10px no-repeat #cee8ff;  } /*certification-type_hover.png Need to get Icon from Designer*/
.certification-type.active					{ background: url(../images/certification-type.png)  center 10px no-repeat #cee8ff;  } /*certification-type_hover.png Need to get Icon from Designer*/

.email-template								{ background: url(../images/email-template.png) center 10px no-repeat #083B69; }
.email-template:hover						{ background: url(../images/email-template.png)  center 10px no-repeat #cee8ff;  } /*email-template_hover.png Need to get Icon from Designer*/
.email-template.active						{ background: url(../images/email-template.png)  center 10px no-repeat #cee8ff;  } /*email-template_hover.png Need to get Icon from Designer*/

.view-log									{ background: url(../images/view-log.png) center 10px no-repeat #083B69; }
.view-log:hover								{ background: url(../images/view-log.png)  center 10px no-repeat #cee8ff;  } /*view-log.png Need to get Icon from Designer*/
.view-log.active							{ background: url(../images/view-log.png)  center 10px no-repeat #cee8ff;  } /*view-log.png Need to get Icon from Designer*/

.credentialing								{ background: url(../images/credentialing.png) center 10px no-repeat #083B69; }
.credentialing:hover						{ background: url(../images/credentialing-hover.png)  center 10px no-repeat #cee8ff;  }
.credentialing.active						{ background: url(../images/credentialing-hover.png)  center 10px no-repeat #cee8ff;  }

.dashboard-settings							{ background: url(../images/dashboard-settings.png) center 10px no-repeat #083B69; }
.dashboard-settings:hover					{ background: url(../images/dashboard-settings_hover.png)  center 10px no-repeat #cee8ff;  }
.dashboard-settings.active					{ background: url(../images/dashboard-settings_hover.png)  center 10px no-repeat #cee8ff;  }

.sub-icon-1									{ background:url(../images/sub-icon-1.png) center 10px no-repeat #083B69; }
.sub-icon-1:hover							{ background:url(../images/sub-icon-1-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-1.active							{ background:url(../images/sub-icon-1-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-2									{ background:url(../images/sub-icon-2.png) center 10px no-repeat #083B69; }
.sub-icon-2:hover							{ background:url(../images/sub-icon-2-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-2.active							{ background:url(../images/sub-icon-2-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-3									{ background:url(../images/sub-icon-3.png) center 10px no-repeat #083B69; }
.sub-icon-3:hover							{ background:url(../images/sub-icon-3-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-3.active							{ background:url(../images/sub-icon-3-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-4									{ background:url(../images/sub-icon-4.png) center 10px no-repeat #083B69; }
.sub-icon-4:hover							{ background:url(../images/sub-icon-4-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-4.active							{ background:url(../images/sub-icon-4-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-5									{ background:url(../images/sub-icon-5.png) center 10px no-repeat #083B69; }
.sub-icon-5:hover							{ background:url(../images/sub-icon-5-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-5.active							{ background:url(../images/sub-icon-5-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-6									{ background:url(../images/sub-icon-6.png) center 10px no-repeat #083B69; }
.sub-icon-6:hover							{ background:url(../images/sub-icon-6-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-6.active							{ background:url(../images/sub-icon-6-hover.png) center 10px no-repeat #cee8ff;  }

.sub-icon-7									{ background:url(../images/sub-icon-7.png) center 10px no-repeat #083B69; }
.sub-icon-7:hover							{ background:url(../images/sub-icon-7-hover.png) center 10px no-repeat #cee8ff;  }
.sub-icon-7.active							{ background:url(../images/sub-icon-7-hover.png) center 10px no-repeat #cee8ff;  }

.glossymenu 								{ margin: 5px 0; padding: 0; width: 170px; /*width of menu*/ border: 1px solid #9A9A9A; border-bottom-width: 0; }
.glossymenu a.menuitem						{ background: black url(glossyback.gif) repeat-x bottom left; color: white; display: block; position: relative; /*To help in the anchoring of the ".statusicon" icon image*/ width: auto; padding: 4px 0; padding-left: 10px; text-decoration: none; }
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active { color: white; }
.glossymenu a.menuitem .statusicon			{ /*CSS for icon image that gets dynamically added to headers*/ position: absolute; top: 5px; right: 5px; border: none; }
.glossymenu a.menuitem:hover				{ background-image: url(glossyback2.gif); }
.glossymenu div.submenu						{ /*DIV that contains each sub menu*/ background: white; }
.glossymenu div.submenu ul					{ /*UL of each sub menu*/ list-style-type: none; margin: 0; padding: 0; }
.glossymenu div.submenu ul li				{ border-bottom: 1px solid blue; }
.glossymenu div.submenu ul li a				{ display: block; font: normal 13px ; color: black; text-decoration: none; padding: 2px 0; padding-left: 10px; }
.glossymenu div.submenu ul li a:hover		{ background: #DFDCCB; color: white; } 
.submenu { width:190px; margin:0 10px; border:1px solid #cfcdcd; float:left; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:block; }
.submenu ul { margin:0; padding:0; width:100% !important; float:left; }
.submenu ul li { margin:0; padding:0; list-style:none; display:inline; }
.inner-menu {  float:left; width:217px; display:block;  }
.inner-menu-list {  float:left; width:96%; display:none; margin:0 0 20px 0; background:#083B69; padding:0 2%; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:none; text-align:center;  }
.inner-menu-list a { padding:5px 5px; float:left; height:40px; line-height:40px;    }
.inner-menu-list a img { margin:0; vertical-align:middle; }
/***************************
Progress Bar
****************************/
.progress-bar { margin:10px auto; height:25px; width:100%; background:#1f1f1f; line-height:25px; color:#fff; text-transform:uppercase; font-size:12px;  }
.progress-bar .col-1-set { float:left; width:25%;  height:25px; padding:0 0 0 0; text-align:center; /* border-left:1px solid #555555; */ }
.progress-bar .col-1-set.active {  background:url(../images/bar-bg.jpg) left top repeat-x;  }

/***************************
CONTENT SECTION - Manage User Page
****************************/  
.form-box								{ float:left; width:98%; padding:1% 1%; border:1px solid #083B69; font-size:12px; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fff; position:relative; display:block; margin:0 0 20px 0;   }
.wrapper-half 							{ float:left; width:100%; }
.row-wrapper							{ float:left; margin:1% 0; width:50%;  }
.row-wrapper .label-col-wrapper			{ float:left; width:38%; padding:0 0 0 2%; }
.row-wrapper .ctrl-col-wrapper			{ float:left; width:58%; padding:0 2% 0 0; }
.row-wrapper .ctrl-col-wrapper .text-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /* color: #000000 !important; */ height: 25px; padding: 0 2%; width: 85%; float:left; line-height:25px; }
.row-wrapper .ctrl-col-wrapper .list-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 25px; padding: 1% 2%; width: 93%; float:left; line-height:25px; }


.wrapper-btn 							{ float:left; margin:10px 0 0 40%;  width: 60%;  }
.btn-wrapper							{ float:left; margin:10px 0 0 40%;  width: 60%;  }

.form-box table {border-collapse:collapse;  }
.main-table { float:left; width:100%;  }
.main-table th.headerRole { background:#083B69; color:#fff;padding: 8px;  }
.main-table td { border:1px solid #e9eaea; padding:5px;  }
.main-table td.header { background:#083B69; color:#fff;  }
.main-table .even { background:#fff; }
.main-table .odd { background:#f6f6f6; }
.main-table td a { color:#083B69; text-decoration:underline; }


/***************************
CONTENT SECTION - Create Vendor Page
****************************/ 
.tab-content						{ width:98%; padding:1%; /* border:1px solid #ccc; border-top:0 none; */  }
.sub-title							{ float:left; width:98%; line-height:30px; color:#fff; background:#083B69; padding:0 1%; margin:0 0 10px 0; }
.main-text-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /* color: #000000 !important; */ height: 25px; padding: 0 2%; width: 92%; float:left; line-height:25px; }
.main-text-area { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 50px; padding: 0 2%; width: 92%; float:left; line-height:25px; resize:none; }
.main-list-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 25px; padding: 1% 2%; width: 93%; float:left; line-height:25px; }


/* 
Email send
*/
.wrapper-full 							{ float:left; width:90%; }
.wrapper-full .row-wrapper							{ float:left; margin:1% 0; width:100%;  }
.row-wrapper .label-col-full-wrapper			{ float:left; width:30%; padding:0 0 0 2%; line-height:25px;  }
.row-wrapper .ctrl-col-full-wrapper			{ float:left; width:60%; padding:0 2% 0 0; }
.row-wrapper .ctrl-col-full-wrapper .text-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /*color: #000000  !important ;*/ height: 25px; padding: 0 2%; width: 85%; float:left; /* line-height:25px; */ }
.row-wrapper .ctrl-col-full-wrapper password { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /*color: #000000  !important ;*/ height: 25px; padding: 0 2%; width: 85%; float:left; /* line-height:25px; */ }
.row-wrapper .ctrl-col-full-wrapper .main-list-box{ background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 28px; padding: 1% 2%; width: 93%; float:left; /* line-height:25px; */ }


.focus {
	border: 2px solid #A6C9E2;
}

input:focus {
	outline: none;
	box-shadow: 0px 0px 7px #61C5FA;
	border-color: #61C5FA;
}
label.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}
span.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}

.text-label {
	color: #cdcdcd;
	font-size: 11px;
}


.rt { width: 100%; font-size: 12px;/*12*/ line-height: 20px;/*15*/ border-collapse: collapse; border-spacing: 0; }

	.rt th,
	.rt td { margin: 0; padding: 0.4166em;/*10*/ vertical-align: top; border: 1px solid #babcbf; background: #fff; }
	.rt th { text-align: left;background:#083B69; color:#fff; }


	@media only screen and (max-width: 40em) { /*640*/

		#rt1 { display: block; position: relative; width: 100%; }
		#rt1 thead { display: block; float: left; }
		#rt1 tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
		#rt1 thead tr { display: block; }
		#rt1 th { display: block; }
		#rt1 tbody tr { display: inline-block; vertical-align: top; }
		#rt1 td { display: block; min-height: 1.25em; }

		#rt2 { display: block; position: relative; width: 100%; }
		#rt2 thead { display: block; float: left; }
		#rt2 tbody { display: -webkit-box; overflow-x: auto; }
		#rt2 th,
		#rt2 tr,
		#rt2 td { display: block; }

		/* sort out borders */

		.rt th { border-bottom: 0; }
		.rt td { border-left: 0; border-right: 0; border-bottom: 0; }
		.rt tbody tr { border-right: 1px solid #babcbf; }
		.rt th:last-child,
		.rt td:last-child { border-bottom: 1px solid #babcbf; }

	}
				
#successMsg {
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: green;
}

#failureMsg {
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
	color: red;
}

tr:nth-child(odd) { background:#f6f6f6;}
tr:nth-child(even) {background:#fff;}

/***************************
CONTENT SECTION -  
****************************/ 
.coulmn-1-row						{ float:left; width:100%; margin:1% 0 0 0; } 
.coulmn-1-row .coulmn-1				{ float:left; margin:0 10px 0 0; line-height:25px;  }
.coulmn-1-row .coulmn-1	.text-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 22px; padding: 0 4px; width:25px; float:left; line-height:22px; }
.coulmn-1-row .coulmn-1 .text-box-date { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 25px; padding: 0 2%; width: 48%; float:left; line-height:25px; }
.coulmn-1-row .coulmn-2				{ float:left; width:100%; line-height:25px; margin:1% 0 0 0;  }

.coulmn-1-row .row-wrapper							{ float:left; margin:1% 0; width:100%;  }
.coulmn-1-row .row-wrapper .label-col-wrapper			{ float:left; width:40%; padding:0 0 0 0; line-height:normal !important; }
.coulmn-1-row .row-wrapper .ctrl-col-wrapper			{ float:left; width:58%; padding:0 2% 0 0; }
.coulmn-1-row .row-wrapper .ctrl-col-wrapper .text-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 25px; padding: 0 2%; width: 35%; float:left; line-height:25px; }
.coulmn-1-row .row-wrapper .ctrl-col-wrapper .list-box { background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 25px; padding: 2% 4%; width: 93%; float:left; line-height:25px; }
.coulmn-1-row .row-wrapper .ctrl-col-wrapper .btn		{ margin:0 0 0 1%; }