@charset "utf-8";
/* CSS Document */

body { 
	margin:0; 
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}

h1 { 
	margin:0 0 20px 0; 
	padding:0;
	font-weight:normal;
	font-style:normal;
	font-size:24px; 
	color:#009900;
	line-height:28px;
}
h1 span { color:#666; }
p { 
	margin:0 0 20px 0;
	padding:0;
	font-weight:normal;
	font-style:normal;
	font-size:12px; 
	color:#666;
}
.clearfix { 
	clear:both;
}
#logo {margin:0 auto;
	width:90%;

	padding:2% 2%;  }
.home-page { 
	margin:0 auto;
	width:90%;
	background:url(../images/bg.jpg);
	padding:2% 2%;
}
#sing-in-box { 
	float:left;
	width:42%; 
	margin:0;
	background:#fff;
	margin:2% 0 0 0;
	padding:2%;
}
#sing-up-box  { 
	float:right;
	width:42%; 
	margin:0;
	background:#fff;
	margin:10% 0 0 0;
	padding:2%;
}
#sing-up-box .btn-box { 
	float:right;
	width:205px;
	margin:20px 0 0 0;
}
.btn-box1 {
    float: left;
    padding-top:4%;
    width: 267px;
}
.push_btm_fix {margin-bottom:3% !important;}
#sing-up-box .btn-box .btn {
	width:175px;
	margin:0 0 10px 0;	
}


.home-page .lable { 
	float:left;
	width:100%;
	color:#adb6b5;
	margin:0 0 10px 0;
	font-size:15px;
}
.home-page .text-box { 
	float:left;
	width:70%;
	color:#424142;
	border:1px solid #d8d8d8;
	height:30px;
	line-height:30px;
	padding:0 2%;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	margin:0 0 10px 0;
	behavior: url(PIE.htc); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	position:relative;
	display:block;
}
.home-page .link { 
	font-size:15px;
	float:left;
	width:100%;
	margin:20px 0;
}
.home-page .link a { color:#009900; text-decoration:none; }

.home-page .btn { 
	float:left;
	padding:0 20px; 
	height:30px;
	color:#fff;
	background:url(../images/arrow.png) 4px 8px no-repeat #666;
	line-height:30px;
	text-decoration:none;
	border:0 none;
	cursor:pointer;
	behavior: url(PIE.htc); 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px;
	position:relative;
	display:block;
}

.home-page .btn img { vertical-align:middle; }
.home-page .get-help {
	float:left;
	padding:0 0 0 5%;
	line-height:30px;
}
.home-page .get-help a { text-decoration:none; color:#009900; }
@media screen and (max-width: 768px) { 
	#sing-in-box { float:left; width:92%; padding:4%; }
	#sing-up-box { float:left; width:92%; padding:4%; }
	#sing-up-box .btn-box  { width:100%; }
	#sing-up-box .btn-box .btn { width:42%; }
	.home-page .get-help { padding:0; float:left; width:100%; }
}

label.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}
span.error {
	color: red;
	background: transparent url("../images/alert-triangle-red.png") center
		left no-repeat;
	display: inline-block;
	padding-left: 20px;
	line-height: 20px;
	margin-left: 0.45em;
}


.form-box										{ float:left; width:98%; padding:1% 1%; border:1px solid #083B69; font-size:12px; behavior: url(PIE.htc); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fff; position:relative; display:block; margin:0 0 20px 0;   }
.wrapper-full 									{ float:left; width:90%; }
.wrapper-full .row-wrapper						{ float:left; margin:1% 0; width:100%;  }
.row-wrapper .label-col-wrapper			{ float:left; width:30%; padding:0 0 0 2%; line-height:25px;  }
.row-wrapper .ctrl-col-wrapper				{ float:left; width:60%; padding:0 2% 0 0; }
.row-wrapper .ctrl-col-wrapper .text-box 	{ background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /*color: #000000  !important ;*/ height: 25px; padding: 0 2%; width: 85%; float:left; /* line-height:25px; */ }
.row-wrapper .ctrl-col-wrapper password 	{ background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  /*color: #000000  !important ;*/ height: 25px; padding: 0 2%; width: 85%; float:left; /* line-height:25px; */ }
.row-wrapper .ctrl-col-wrapper .main-list-box{ background:#FFFFFF; border: 0 none; border-radius: 5px 5px 5px 5px; border:1px solid #ccc;  color: #000000 !important; height: 28px; padding: 1% 2%; width: 93%; float:left; /* line-height:25px; */ }
.wrapper-btn 									{ float:left; margin:10px 0 0 40%;  width: 60%;  }
.btn-wrapper									{ float:left; margin:10px 0 0 40%;  width: 60%;  }
.btn 											{ float:left; background:#009900; height:28px; padding:0 10px; line-height:28px; color:#ccc; border:0 none; cursor:pointer; /* behavior: url(PIE.htc); */ -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; position:relative; display:block; font-family: Verdana, Geneva, sans-serif; margin:2px 5px 0 0; -webkit-appearance: none;   }