/**********************************************
CSS Document Created  for Diamond Springs
***********************************************

This stylesheet includes the following sections 

	1. LAYOUT DEFAULT STYLES
	2. LAYOUT POSITIONING
	3. TYPOGRAPHY - GLOBAL
	4. LAYOUT STYLES
		4.1. HEADER SECTION
		4.2. MENU SECTION
		4.3. CONTENT SECTION
			4.3.1 LOGIN SECTION
			4.3.2 INNERPAGE SECTION
	5.LAYOUT REGULAR SECTION
	6.FOOTER SECTION		
***********************************************/

/***************************
LAYOUT DEFAULT STYLES
***************************/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background-color: #fff;
}

/***************************
LAYOUT POSITIONING
****************************/
.page-margin-wrapper {
	float: left;
	width: 100%;
}

.page-wrapper {
	margin: 0 auto;
	width: 900px;
}

/***************************
TYPOGRAPHY - GLOBAL
****************************/
p {
	margin: 0 0 10px 0;
	padding: 0;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	font-size: 13px;
	color: #333;
	text-align: justify;
}
/****************************LAYOUT STYLES****************************/

/***************************
HEADER SECTION
****************************/
header {
	float: left;
	width: 100%;
	height: 109px;
	padding: 10px 0 0 0;
	background: url(../images/header-bg.png) left top repeat-x;
}

header .top-links {
	float: right;
	margin: 10px 0 0 0;
	clear: both;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	background: #083b69;
	height: 28px;
	line-height: 28px;
	color: #ccc;
	behavior: url(PIE.htc);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	display: block;
}

header .top-links a {
	color: #ccc;
	padding: 0 5px;
	font-size: 12px;
}

header .top-links a:hover {
	color: #cee8ff;
}

header .logo {
	float: left;
	margin: 10px 0 10px 0;
}

header .curve {
	float: left;
	margin: 0 0 0 350px;
}

/***************************
SlIDER SECTION
****************************/

/***************************
CONTENT SECTION
****************************/
article {
	float: left;
	width: 100%;
}

#content-area {
	float: left;
	width: 100%;
	padding: 20px 0;
	background-color: #fff;
	margin: 0px auto;
	min-height: 500px;
}

h1 {
	padding: 5px;
}

.item-box-one {
	float: left;
	width: 213px;
	margin: 0 16px 0 0;
}

.item-box-two {
	float: left;
	width: 213px;
	margin: 0 16px 0 0;
}

.item-box-three {
	float: left;
	width: 213px;
	margin: 0 16px 0 0;
}

.item-box-four {
	float: right;
	width: 213px;
	margin: 0 0 0 0;
}

.box-title {
	width: 100%;
	background: #083b69;
	height: 45px;
	text-align: center;
	line-height: 45px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	position: relative;
	display: block;
	font-size: 14px;
	color: #fff;
}

.box-title:hover {
	background: #cee8ff;
	color: #000;
}

.box-title.active {
	background: #cee8ff;
	color: #000;
}

/***************************
 Inner Page
****************************/
.item-box-one1 {
	float: left;
	width: 650px;
	min-height: 500px;
	border: 2px solid #239eee;
	margin: 0 10px 0 0;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	position: relative;
	display: block;
}

.item-box-active {
	float: left;
	left: 5px;
	width: 213px;
	min-height: 400px;
	border: 0px solid #239eee;
	margin: 0 10px 0 0;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	position: absolute;
	display: block;
}

#content-area .main-content {
	padding: 5px;
	border: 2px solid #239EEE;
	min-height: 900px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	position: relative;
	display: block;
	width: 95%;
	margin: 5px 0 0 15px;
}

#content-area .item-box-active .btn-bg1 a {
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	height: 35px;
	margin: 5px;
	padding: 60px 0 0;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	width: 96px;
	margin: 5px 0 0 55px;
}

/***************************
LAYOUT REGULAR SECTION
****************************/
.clear {
	clear: both;
}

a img {
	border: 0 none;
}

.left {
	float: left;
}

.right {
	float: right;
}

/***************************
FOOTER
****************************/
footer {
	float: left;
	width: 100%;
	background: #09457a;
	height: 40px;
}

footer .copy {
	float: left;
	color: #fff;
	line-height: 40px;
	width: 100%;
	text-align: center;
}

footer .copy img {
	margin: 0;
	vertical-align: middle;
}

/***************************
ICON SET
****************************/
.btn-bg {
	float: left;
	width: 100%;
	line-height: 15px;
}

.btn-bg a {
	width: 96px;
	height: 35px;
	float: left;
	margin: 5px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: block;
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding: 60px 0 0 0;
	text-decoration: none !important;
}

.btn-bg a:hover {
	color: #000;
}

.btn-bg a.active {
	color: #000;
}

.btn-bg .submenu a {
	width: 85px;
	height: 35px;
	float: left;
	margin: 5px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: block;
	color: #fff;
	font-size: 10px;
	text-align: center;
	padding: 40px 0 0 0;
	text-decoration: none !important;
}

.btn-bg .submenu a:hover {
	color: #000;
}

.btn-bg .submenu a.active {
	color: #000;
}

.icon-1 {
	background: url(../images/icon-1.png) center 10px no-repeat #083b69;
}

.icon-1:hover {
	background: url(../images/icon-1-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-1.active {
	background: url(../images/icon-1-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-2 {
	background: url(../images/icon-2.png) center 15px no-repeat #083b69;
}

.icon-2:hover {
	background: url(../images/icon-2-hover.png) center 15px no-repeat
		#cee8ff;
}

.icon-2.active {
	background: url(../images/icon-2-hover.png) center 15px no-repeat
		#cee8ff;
}

.icon-3 {
	background: url(../images/icon-3.png) center 10px no-repeat #083b69;
}

.icon-3:hover {
	background: url(../images/icon-3-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-3.active {
	background: url(../images/icon-3-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-4 {
	background: url(../images/icon-4.png) center 10px no-repeat #083b69;
}

.icon-4:hover {
	background: url(../images/icon-4-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-4.active {
	background: url(../images/icon-4-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-4.deactive {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity =   50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.icon-5 {
	background: url(../images/icon-5.png) center 15px no-repeat #083b69;
}

.icon-5:hover {
	background: url(../images/icon-5-hover.png) center 15px no-repeat
		#cee8ff;
}

.icon-5.active {
	background: url(../images/icon-5-hover.png) center 15px no-repeat
		#cee8ff;
}

.icon-6 {
	background: url(../images/icon-6.png) center 10px no-repeat #083b69;
}

.icon-6:hover {
	background: url(../images/icon-6-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-6.active {
	background: url(../images/icon-6-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-7 {
	background: url(../images/icon-7.png) center 10px no-repeat #083b69;
}

.icon-7:hover {
	background: url(../images/icon-7-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-7.active {
	background: url(../images/icon-7-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-8 {
	background: url(../images/icon-8.png) center 10px no-repeat #083b69;
}

.icon-8:hover {
	background: url(../images/icon-8-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-8.active {
	background: url(../images/icon-8-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-9 {
	background: url(../images/icon-9.png) center 10px no-repeat #083b69;
}

.icon-9:hover {
	background: url(../images/icon-9-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-9.active {
	background: url(../images/icon-9-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-10 {
	background: url(../images/icon-10.png) center 10px no-repeat #083b69;
}

.icon-10:hover {
	background: url(../images/icon-10-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-10.active {
	background: url(../images/icon-10-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-11 {
	background: url(../images/icon-11.png) center 10px no-repeat #083b69;
}

.icon-11:hover {
	background: url(../images/icon-11-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-11.active {
	background: url(../images/icon-11-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-12 {
	background: url(../images/icon-12.png) center 10px no-repeat #083b69;
}

.icon-12:hover {
	background: url(../images/icon-12-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-12.active {
	background: url(../images/icon-12-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-13 {
	background: url(../images/icon-13.png) center 10px no-repeat #083b69;
}

.icon-13:hover {
	background: url(../images/icon-13-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-13.active {
	background: url(../images/icon-13-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-14 {
	background: url(../images/icon-14.png) center 10px no-repeat #083b69;
}

.icon-14:hover {
	background: url(../images/icon-14-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-14.active {
	background: url(../images/icon-14-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-15 {
	background: url(../images/icon-15.png) center 10px no-repeat #083b69;
}

.icon-15:hover {
	background: url(../images/icon-15-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-15.active {
	background: url(../images/icon-15-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-16 {
	background: url(../images/icon-16.png) center 10px no-repeat #083b69;
}

.icon-16:hover {
	background: url(../images/icon-16-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-16.active {
	background: url(../images/icon-16-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-17 {
	background: url(../images/icon-17.png) center 10px no-repeat #083b69;
}

.icon-17:hover {
	background: url(../images/icon-17-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-17.active {
	background: url(../images/icon-17-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-18 {
	background: url(../images/icon-18.png) center 10px no-repeat #083b69;
}

.icon-18:hover {
	background: url(../images/icon-18-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-18.active {
	background: url(../images/icon-18-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-19 {
	background: url(../images/icon-19.png) center 10px no-repeat #083b69;
}

.icon-19:hover {
	background: url(../images/icon-19-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-19.active {
	background: url(../images/icon-19-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-20 {
	background: url(../images/icon-20.png) center 10px no-repeat #083b69;
}

.icon-20:hover {
	background: url(../images/icon-20-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-20.active {
	background: url(../images/icon-20-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-21 {
	background: url(../images/icon-21.png) center 10px no-repeat #083b69;
}

.icon-21:hover {
	background: url(../images/icon-21-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-21.active {
	background: url(../images/icon-21-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-22 {
	background: url(../images/icon-1_2.png) center 10px no-repeat #083b69;
}

.icon-22:hover {
	background: url(../images/icon-1-hover_2.png) center 10px no-repeat
		#cee8ff;
}

.icon-22.active {
	background: url(../images/icon-1-hover_2.png) center 10px no-repeat
		#cee8ff;
}

.icon-23 {
	background: url(../images/icon-13.png) center 10px no-repeat #083b69;
}

.icon-23:hover {
	background: url(../images/icon-13-hover.png) center 10px no-repeat
		#cee8ff;
}

.icon-23.active {
	background: url(../images/icon-13-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-1 {
	background: url(../images/sub-icon-1.png) center 10px no-repeat #083b69;
}

.sub-icon-1:hover {
	background: url(../images/sub-icon-1-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-1.active {
	background: url(../images/sub-icon-1-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-2 {
	background: url(../images/sub-icon-2.png) center 10px no-repeat #083b69;
}

.sub-icon-2:hover {
	background: url(../images/sub-icon-2-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-2.active {
	background: url(../images/sub-icon-2-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-3 {
	background: url(../images/sub-icon-3.png) center 10px no-repeat #083b69;
}

.sub-icon-3:hover {
	background: url(../images/sub-icon-3-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-3.active {
	background: url(../images/sub-icon-3-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-4 {
	background: url(../images/sub-icon-4.png) center 10px no-repeat #083b69;
}

.sub-icon-4:hover {
	background: url(../images/sub-icon-4-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-4.active {
	background: url(../images/sub-icon-4-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-5 {
	background: url(../images/sub-icon-5.png) center 10px no-repeat #083b69;
}

.sub-icon-5:hover {
	background: url(../images/sub-icon-5-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-5.active {
	background: url(../images/sub-icon-5-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-6 {
	background: url(../images/sub-icon-6.png) center 10px no-repeat #083b69;
}

.sub-icon-6:hover {
	background: url(../images/sub-icon-6-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-6.active {
	background: url(../images/sub-icon-6-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-7 {
	background: url(../images/sub-icon-7.png) center 10px no-repeat #083b69;
}

.sub-icon-7:hover {
	background: url(../images/sub-icon-7-hover.png) center 10px no-repeat
		#cee8ff;
}

.sub-icon-7.active {
	background: url(../images/sub-icon-7-hover.png) center 10px no-repeat
		#cee8ff;
}

.glossymenu {
	margin: 5px 0;
	padding: 0;
	width: 170px; /*width of menu*/
	border: 1px solid #9A9A9A;
	border-bottom-width: 0;
}

.glossymenu a.menuitem {
	background: black url(glossyback.gif) repeat-x bottom left;
	font: bold 14px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	color: white;
	display: block;
	position: relative;
	/*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	padding: 4px 0;
	padding-left: 10px;
	text-decoration: none;
}

.glossymenu a.menuitem:visited,.glossymenu .menuitem:active {
	color: white;
}

.glossymenu a.menuitem .statusicon {
	/*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}

.glossymenu a.menuitem:hover {
	background-image: url(glossyback2.gif);
}

.glossymenu div.submenu { /*DIV that contains each sub menu*/
	background: white;
}

.glossymenu div.submenu ul { /*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.glossymenu div.submenu ul li {
	border-bottom: 1px solid blue;
}

.glossymenu div.submenu ul li a {
	display: block;
	font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica,
		sans-serif;
	color: black;
	text-decoration: none;
	padding: 2px 0;
	padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover {
	background: #DFDCCB;
	colorz: white;
}

.submenu {
	width: 190px;
	margin: 0 10px;
	border: 1px solid #cfcdcd;
	float: left;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	position: relative;
	display: block;
}

.submenu ul {
	margin: 0;
	padding: 0;
	width: 100% !important;
	float: left;
}

.submenu ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
}

.submit {
	padding: 21px 0 10px 346px;
	width: 60%;
}

.customerbtTxt {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #083c69
		), color-stop(1, #0a518f));
	background: -moz-linear-gradient(center top, #083c69 5%, #0a518f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#083c69',
		endColorstr='#0a518f');
	background-color: #083c69;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 0px solid #dcdcdc;
	display: inline-block;
	color: #fff;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 25px;
	margin: 5px;
	behavior: url(PIE.htc);
	position: relative;
}

.customerbtTxt:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0a518f
		), color-stop(1, #083c69));
	background: -moz-linear-gradient(center top, #0a518f 5%, #083c69 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a518f',
		endColorstr='#083c69');
	background-color: #0a518f;
	behavior: url(PIE.htc);
	position: relative;
}

.inner-menu {
	position: absolute;
	top: 120px;
	margin: 0 0 0 5px;
	z-index: 1000;
	left: 0;
}

.innepage-content {
	float: left;
	width: 880px;
	padding: 0 10px;
}

.progress-bar {
	margin: 10px auto;
	height: 25px;
	width: 100%;
	background: #1f1f1f;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

.progress-bar .col-1-set {
	float: left;
	width: 24%;
	height: 25px;
	padding: 0 0 0 0;
	text-align: center;
	border-left: 1px solid #555555;
}

.progress-bar .col-1-set.active {
	background: url(../images/bar-bg.jpg) left top repeat-x;
}

.welcome_bg {
	float: right;
	margin: 20px 0 0 0;
}

.welcome-text {
	float: right;
	clear: both;
	font-size: 12px;
	color: #333;
}

.welcome-text span {
	color: #083b69;
	font-size: 15px;
}

.more-btn {
	margin: 20px auto !important;
	background: #083b69;
	width: 75px;
	height: 30px;
	color: #fff;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 30px;
	behavior: url(PIE.htc);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

.box-width {
	float: left;
	border: 2px solid #239eee;
	width: 100%;
	behavior: url(PIE.htc);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	position: relative;
	display: block;
}