@charset "iso-8859-1";
/* ------------------
 styling for the tables 
   ------------------   */

#gradient-style {
    border-collapse: collapse;
    font-family: Verdana,Sans-Serif;
    font-size: 12px;
    margin: 10px auto;
    text-align: left;
    width: 100%;
}
#gradient-style th {
    background: url("../images/gradhead.png") repeat-x scroll 0 0 #B9C9FE;
    border-color: #BADEFF #BADEFF #BADEFF;
    border-style: solid;
    border-width: 2px 1px 1px;
    color: #ffffff;
    font-weight: bold;
    padding:0px;
    text-align: center;
	height:29px;
}
#gradient-style td {
    border-bottom: 1px solid #BADEFF;
    color: #666699;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

#gradient-style tr {
border:1px solid #BADEFF;
}

#gradient-style td.nospace {
    color: #666699;
    height: 150px;
    padding: 8px;
    width:195px;
}
#gradient-border {
    border-collapse: collapse;
    font-size: 12px;
    margin: 10px auto;
    text-align: left;
    width: 96%;
}
#gradient-border th {
    background: url("../images/gradhead.png") repeat-x scroll 0 0 #B9C9FE;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #8CA5F9;
    border-top: 2px solid #D3DDFF;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    text-align: center;
}
#gradient-border td {
    background: url("table-images/gradback.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #E5E1E1;
    color: #666699;
    padding: 8px;
    vertical-align: top;
}
#gradient-border td.marker {
    background: url("table-images/gradback.png") repeat-x scroll 0 0 #DCEDFD;
    border: 1px solid #E5E1E1;
    color: #666699;
    padding: 8px;
    vertical-align: top;
}
#gradient-border td.nospace {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #666699;
    height: 150px;
    padding: 0;
    width: 235px;
}
#Comp-attri {
    background-color: #FFFFFF;
    border: 1px solid #A4BED4;
    height: 130px;
    overflow:auto;
    width: 99%;
}
#Comp-attri-form {
    height: 25px;
}
#Comp-attri-form ul {
    list-style: none outside none;
}
#Comp-attri-form li {
    border: medium none;
    float: left;
    height: auto;
    list-style: none outside none;
    padding: 5px;
    width: auto;
}
#Comp-attri-icon {
    float: right;
    height: 25px;
    top: 9px;
    width: 32px;
}
#Comp-attri-icon img {
    float: left;
    height: 14px;
    padding-right: 2px;
    top: 5px;
    width: 14px;
}
.Comp-attri-titles {
    background-color: #6fafec;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    width: 100%;
}
.Comp-attri-titles p {
    color: #004C75;
}
#Comp-attri table input.text-box {
    color: #000000;
    font-size: 11px;
    height: 14px;
    width: auto;
}
#gradient-style tfoot tr td {
    background: none repeat scroll 0 0 #E8EDFF;
    color: #9999CC;
    font-size: 12px;
}
#gradient-style tbody tr:hover td {
    background: url("table-images/gradhover.png") repeat-x scroll 0 0 #FFFFFF;
    color: #333399;
}