/* Panel
----------------------------------*/
.ui-panel {text-align:left;z-index:1;}
.ui-panel-header {margin:0;padding:0;width:100%;}
.ui-panel-header .ui-icon {border:0;float:left;margin-top:0.2em;}
.ui-panel-title {margin:0.3em 0;}
.ui-panel-title-text {margin-left:0.3em;}
.ui-panel-title-text,.ui-panel .ui-icon {cursor:pointer;}
.ui-panel-rightbox {float:right;}
.ui-panel-rightbox .ui-icon {margin-right:0.1em;}
.ui-panel-controls {float:left;margin:0.2em 0.7em 0 0;}
.ui-panel-content {padding:0;width:100%;border-top:0;}
.ui-panel-content-text {/* padding:0.7em 0.4em; */ padding: 0; float: left;
width: 100%; border: 0 none;
}
.ui-panel-clps-pnl {float:left;padding:0.1em 0.25em 0.3em;position:relative;top:-0.1em;}
.ui-panel-vtitle {overflow:hidden;position:relative;white-space:nowrap;}
.ui-panel-vtext {display:block;}
.ui-panel-vtext-ie {bottom:1.5em;filter:flipv() fliph();left:0.2em;position:absolute;writing-mode:tb-rl;}