/*
Copyright DHTMLX LTD. http://www.dhtmlx.com
You allowed to use this component or parts of it under GPL terms
To use it on other terms or get Professional edition of the component please contact us at sales@dhtmlx.com
*/
.dhx_tooltip {
	display: none;
	position: absolute;
	font-family: Tahoma;
	font-size: 8pt;
	z-index: 10000;
	background-color: white;
	padding: 2px 2px 2px 2px;
	border: 1px solid #A4BED4;
}

.dhx_chart {
	position: relative;
	font-family: Verdana;
	font-size: 13px;
	color: #000;
	overflow: hidden;
}

.dhx_canvas_text {
	position: absolute;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.dhx_map_img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	filter: alpha(opacity =   0);
}

.dhx_axis_item_y {
	position: absolute;
	height: 13px;
	margin-top: -4px;
	text-align: right;
}

.dhx_axis_title_x {
	text-align: center;
}

.dhx_axis_title_y {
	font-family: Verdana;
	/* text-align: left;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3 );
	-o-transform: rotate(-90deg);
	padding-left: 3px; */
	padding-left: 45px;
	font-weight: bold;
	margin-top: -105px;
}

.dhx_chart_legend {
	position: absolute;
}

.dhx_chart_legend_item {
	height: 18px;
	line-height: 18px;
	padding: 2px;
}